body {
  padding: 35px 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p {
  max-width: fit-content;
  display: inline-block;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.country-supplier-container {
  margin: 20px;
}
.services-container {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 20px;
}
.services-container div {
  padding: 5px;
}

.country-announce-container {
  display: none;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.country-announce-container i {
  cursor: pointer;
}
.country-announce-selector {
  text-align: center;
}

.selected-country-announce {
  text-align: center;
  margin-top: 10px;
  
}
.form-calculate-container {
  display: flex;
  flex-direction: column;
}
.error-messages {
  display: block;
  color: red;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.calculate {
  width: auto;
  margin-right: 45%;
  margin-left: 45%;
}

.industry-ads-selector-container, .investment-google-search-ads, .investment-google-display-ads, .investment-facebook-ads {
  display: none;
  justify-content: space-evenly;
  padding: 10px
}