body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p {
  max-width: fit-content;
  display: inline-block;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.country-supplier-container {
  margin: 20px;
}
.services-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px;
}
.services-container div {
  padding: 5px;
}

.country-announce-container {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.country-announce-container i {
  cursor: pointer;
}
.country-announce-selector {
  text-align: center;
}

.selected-country-announce {
  text-align: center;
  margin-top: 10px;
  
}
.form-calculate-container {
  display: flex;
  flex-direction: column;
}
.calculate {
  width: auto;
  margin-right: 45%;
  margin-left: 45%;
  cursor: pointer;
}