body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p {
  max-width: fit-content;
  display: inline-block;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.country-supplier-container {
  margin: 20px;
}
.services-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px;
}
.services-container div {
  padding: 5px;
}

.country-announce-container {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}
.country-announce-container div {
  display: inline-block;
  width: 20%;
  padding: 5px;
}
