<!--TODOS tienen implementacion MENOS: conversionWeb intermedio y email (todos)-->

<div id="result-implementation-conversionWeb-container" style="display: none">
    <div id="accordion-conversionWeb">
      <div class="card">
        <div class="card-header" id="heading-conversionWeb" data-toggle="collapse" data-target="#collapse-conversionWeb" aria-expanded="false" aria-controls="collapse-conversionWeb">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-conversionWeb"></p>
          </h6>
        </div>
    
        <div id="collapse-conversionWeb" class="collapse" aria-labelledby="heading-conversionWeb" data-parent="#accordion-conversionWeb">
          <div class="card-body">
            <div id="result-implementation-conversionWeb"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-seo-container" style="display: none">
    <div id="accordion-seo">
      <div class="card">
        <div class="card-header" id="heading-seo" data-toggle="collapse" data-target="#collapse-seo" aria-expanded="false" aria-controls="collapse-seo">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-seo"></p>
          </h6>
        </div>
    
        <div id="collapse-seo" class="collapse" aria-labelledby="heading-seo" data-parent="#accordion-seo">
          <div class="card-body">
            <div id="result-implementation-seo"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-communityManagement-container" style="display: none">
    <div id="accordion-communityManagement">
      <div class="card">
        <div class="card-header" id="heading-communityManagement" data-toggle="collapse" data-target="#collapse-communityManagement" aria-expanded="false" aria-controls="collapse-communityManagement">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-communityManagement"></p>
          </h6>
        </div>
    
        <div id="collapse-communityManagement" class="collapse" aria-labelledby="heading-communityManagement" data-parent="#accordion-communityManagement">
          <div class="card-body">
            <div id="result-implementation-communityManagement"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-googleSearchAds-container" style="display: none">
    <div id="accordion-googleSearchAds">
      <div class="card">
        <div class="card-header" id="heading-googleSearchAds" data-toggle="collapse" data-target="#collapse-googleSearchAds" aria-expanded="false" aria-controls="collapse-googleSearchAds">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-googleSearchAds"></p>
          </h6>
        </div>
    
        <div id="collapse-googleSearchAds" class="collapse" aria-labelledby="heading-googleSearchAds" data-parent="#accordion-googleSearchAds">
          <div class="card-body">
            <div id="result-implementation-googleSearchAds"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-googleDisplayAds-container" style="display: none">
    <div id="accordion-googleDisplayAds">
      <div class="card">
        <div class="card-header" id="heading-googleDisplayAds" data-toggle="collapse" data-target="#collapse-googleDisplayAds" aria-expanded="false" aria-controls="collapse-googleDisplayAds">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-googleDisplayAds"></p>
          </h6>
        </div>
    
        <div id="collapse-googleDisplayAds" class="collapse" aria-labelledby="heading-googleDisplayAds" data-parent="#accordion-googleDisplayAds">
          <div class="card-body">
            <div id="result-implementation-googleDisplayAds"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-facebookAds-container" style="display: none">
    <div id="accordion-facebookAds">
      <div class="card">
        <div class="card-header" id="heading-facebookAds" data-toggle="collapse" data-target="#collapse-facebookAds" aria-expanded="false" aria-controls="collapse-facebookAds">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-facebookAds"></p>
          </h6>
        </div>
    
        <div id="collapse-facebookAds" class="collapse" aria-labelledby="heading-facebookAds" data-parent="#accordion-facebookAds">
          <div class="card-body">
            <div id="result-implementation-facebookAds"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-landingPage-container" style="display: none">
    <div id="accordion-landingPage">
      <div class="card">
        <div class="card-header" id="heading-landingPage" data-toggle="collapse" data-target="#collapse-landingPage" aria-expanded="false" aria-controls="collapse-landingPage">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-landingPage"></p>
          </h6>
        </div>
    
        <div id="collapse-landingPage" class="collapse" aria-labelledby="heading-landingPage" data-parent="#accordion-landingPage">
          <div class="card-body">
            <div id="result-implementation-landingPage"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-wordpress-container" style="display: none">
    <div id="accordion-wordpress">
      <div class="card">
        <div class="card-header" id="heading-wordpress" data-toggle="collapse" data-target="#collapse-wordpress" aria-expanded="false" aria-controls="collapse-wordpress">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-wordpress"></p>
          </h6>
        </div>
    
        <div id="collapse-wordpress" class="collapse" aria-labelledby="heading-wordpress" data-parent="#accordion-wordpress">
          <div class="card-body">
            <div id="result-implementation-wordpress"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-customWebsite-container" style="display: none">
    <div id="accordion-customWebsite">
      <div class="card">
        <div class="card-header" id="heading-customWebsite" data-toggle="collapse" data-target="#collapse-customWebsite" aria-expanded="false" aria-controls="collapse-customWebsite">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-customWebsite"></p>
          </h6>
        </div>
    
        <div id="collapse-customWebsite" class="collapse" aria-labelledby="heading-customWebsite" data-parent="#accordion-customWebsite">
          <div class="card-body">
            <div id="result-implementation-customWebsite"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-ecommerceWeb-container" style="display: none">
    <div id="accordion-ecommerceWeb">
      <div class="card">
        <div class="card-header" id="heading-ecommerceWeb" data-toggle="collapse" data-target="#collapse-ecommerceWeb" aria-expanded="false" aria-controls="collapse-ecommerceWeb">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-ecommerceWeb"></p>
          </h6>
        </div>
    
        <div id="collapse-ecommerceWeb" class="collapse" aria-labelledby="heading-ecommerceWeb" data-parent="#accordion-ecommerceWeb">
          <div class="card-body">
            <div id="result-implementation-ecommerceWeb"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="result-implementation-logoYMarca-container" style="display: none">
    <div id="accordion-logoYMarca">
      <div class="card">
        <div class="card-header" id="heading-logoYMarca" data-toggle="collapse" data-target="#collapse-logoYmarca" aria-expanded="false" aria-controls="collapse-logoYmarca">
          <h6 class="mb-0 titlesCollapse">
            <i class="iconsToRotate fas fa-angle-down"></i>
            <p id="title-implementation-logoYMarca"></p>
          </h6>
        </div>
    
        <div id="collapse-logoYmarca" class="collapse" aria-labelledby="heading-logoYMarca" data-parent="#accordion-logoYMarca">
          <div class="card-body">
            <div id="result-implementation-logoYMarca"></div>
          </div>
        </div>
      </div>
    </div>
</div>