<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!---jQuery 3.6.0--->
    <script  src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!---Bootstrap 5.0.0--->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!---Font Awesome--->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!---Script Principal--->
    <script src="/javascripts/cotizador.js" defer></script>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 col-md-2 col-lg-1">
        <a href="https://digitalnow.com.ar/">
          <img src="//digitalnow.com.ar/wp-content/uploads/2020/05/Logo-Digital-now.png" alt="Digital Now | Agencia de Marketing Online en Argentina">
        </a>
      </div>
      <div class="col-9 col-md-10 col-lg-11"> 
        <h1 class="text-center"><%= title %></h1>
      </div>
    </div>
    
    <form action="" class="form-calculate-container" id="form-calculate-container">
      <h4 style="margin-top: 20px;">¿De qué país es el proveedor de servicios que querés contratar?</h4>
      <div class="country-supplier-container">    
        <select name="country-supplier" id="country-supplier">
          <option value="argentina">Argentina</option>
          <option value="australia">Australia</option>
          <option value="bangladesh">Bangladesh</option>
          <option value="chile">Chile</option>
          <option value="colombia">Colombia</option>
          <option value="costaRica">Costa Rica</option>
          <option value="ecuador">Ecuador</option>
          <option value="espana">España</option>
          <option value="eeuu">Estados Unidos</option>
          <option value="filipinas">Filipinas</option>
          <option value="guatemala">Guatemala</option>
          <option value="india">India</option>
          <option value="inglaterra">Inglaterra</option>
          <option value="mexico">México</option>
          <option value="peru">Perú</option>
          <option value="republicaCheca">República Checa</option>
          <option value="republicaDominicana">República Dominicana</option>
          <option value="sudafrica">Sudafrica</option>
          <option value="ucrania">Ucrania</option>                
          <option value="venezuela">Venezuela</option>
        </select>
      </div>
      <h4>Elegí los servicios requeridos:</h4>
      <div class="services-container card">
        <div>
          <input type="checkbox" name="google-search-ads" id="google-search-ads" class="services-check">
          <label for="google-facebook-ads">Google Ads Search <small>(Anuncios en búsquedas de Google)</small></label>
        </div>
        <div>
          <input type="checkbox" name="google-display-ads" id="google-display-ads" class="services-check">
          <label for="google-facebook-ads">Google Ads Display <small>(Anuncios en sitios web)</small></label>
        </div>
        <div>
          <input type="checkbox" name="facebook-ads" id="facebook-ads" class="services-check">
          <label for="google-facebook-ads">Facebook Ads <small>(Anuncios en Facebook e Instagram)</small></label>
        </div>

        <div>
          <input type="checkbox" name="redes-sociales" id="redesSociales" class="services-check">
          <label for="redes-sociales">Manejo de Redes Sociales</label>
        </div>

        <div>
          <input type="checkbox" name="seo" id="seo" class="services-check">
          <label for="seo">SEO <small>(Posicionamiento orgánico en Google)</small></label>
        </div>
        <div>
          <input type="checkbox" name="conversionWeb" id="conversionWeb" class="services-check">
          <label for="conversionWeb">Optimización de tasa de conversión web</label>
        </div>
        
        <div>
          <input type="checkbox" name="wordpress" id="wordpress" class="services-check">
          <label for="wordpress">Diseño de sitio web standard con 5 secciones en Wordpress.</label>
        </div>
        <div>
          <input type="checkbox" name="ecommerce-web" id="ecommerceWeb" class="services-check">
          <label for="ecommerce-web">Diseño de sitio web de E-commerce <small>(Carga de 50 productos)</small></label>
        </div>
        <div>
          <input type="checkbox" name="landing-page" id="landingPage" class="services-check">
          <label for="landing-page">Diseño de Landing page</label>
        </div>

        <div>
          <input type="checkbox" name="logo-marca" id="logoMarca" class="services-check">
          <label for="logo-marca">Diseño de Logo y Manual de Marca</label>
        </div>
        <div>
          <input type="checkbox" name="email" id="email" class="services-check">
          <label for="email">Email Marketing</label>
        </div>
        
      </div>
      
      <div id="email-ammount-container" class="email-ammount-container">
        <label for="email-ammount"><strong>Email Marketing:</strong> Introduce el número de contactos deseado en tus campañas, para estimar el costo mensual de la plataforma de envíos:</label>
        <select name="email-ammount" id="email-ammount">
          <option value="">-</option>
          <option value="12">1.000</option>
          <option value="25">2.500</option>
          <option value="44">5.000</option>
          <option value="54">7.500</option>
          <option value="65">10.000</option>
          <option value="83">15.000</option>
          <option value="101">20.000</option>
          <option value="119">25.000</option>
          <option value="137">30.000</option>
          <option value="155">35.000</option>
          <option value="173">40.000</option>
          <option value="191">45.000</option>
          <option value="210">50.000</option>
          <option value="229">55.000</option>
          <option value="248">60.000</option>
          <option value="267">65.000</option>
          <option value="286">70.000</option>
          <option value="305">75.000</option>
          <option value="324">80.000</option>
          <option value="343">85.000</option>
          <option value="362">90.000</option>
          <option value="381">95.000</option>
          <option value="400">100.000</option>
        </select>
      </div>

      <div id="industry-ads-selector-container" class="industry-ads-selector-container">
        <label for="industry-ads-selector"><strong>Anuncios: </strong>Selecciona la categoría que más represente tu industria:</label>
        <select name="industry-ads-selector" id="industry-ads-selector">
          <option value="">-</option>
          <option value="autos">Autos</option>
          <option value="negocioANegocio">Negocio a negocio (B2B)</option>
          <option value="serviciosAlConsumidor">Servicios al consumidor</option>
          <option value="citas">Citas</option>
          <option value="eCommerce">E-Commerce</option>
          <option value="educacion">Educación</option>
          <option value="serviciosDeEmpleos">Servicios de Empleos</option>
          <option value="finanzasYSeguros">Finanzas y Seguros</option>
          <option value="salud">Salud</option>
          <option value="articulosParaElHogar">Artículos para el Hogar</option>
          <option value="serviciosIndustriales">Servicios industriales</option>
          <option value="serviciosLegales">Servicios Legales</option>
          <option value="realEstate">Real Estate</option>
          <option value="tecnologia">Tecnología</option>
          <option value="viajes">Viajes</option>
        </select>
      </div>

      <div id="investment-google-search-ads" class="investment-google-search-ads">
        <label for="investment-google-search-ads-value">Introduce el monto en USD de inversión deseada en Google Ads Search:</label>
        <input type="number" placeholder="Ej: USD $ 30" name="investment-google-search-ads-value">
      </div>
      <div id="investment-google-display-ads" class="investment-google-display-ads">
        <label for="investment-google-display-ads-value">Introduce el monto en USD de inversión deseada en Google Ads Display:</label>
        <input type="number" placeholder="Ej: USD $ 30" name="investment-google-display-ads-value">
      </div>
      <div id="investment-facebook-ads" class="investment-facebook-ads">
        <label for="investment-facebook-ads-value">Introduce el monto en USD de inversión deseada en Facebook Ads:</label>
        <input type="number" placeholder="Ej: USD $ 30" name="investment-facebook-ads-value">
      </div>
      
      <div class="country-announce-container" id="country-announce-container">
        <h5 style="text-align: center;">¿En qué país querés que aparezcan tus anuncios?</h5>
        <div class="country-announce-selector">
          <input list="country-announce-list" id="country-announce"/>
          <datalist name="country-announce-list" id="country-announce-list">
            <option value="Albania" data-value="albania">
            <option value="Alemania" data-value="alemania">
            <option value="Arabia Saudita" data-value="arabiaSaudita">
            <option value="Argelia" data-value="argelia">
            <option value="Argentina" data-value="argentina">
            <option value="Armenia" data-value="armenia">
            <option value="Australia" data-value="australia">
            <option value="Austria" data-value="austria">
            <option value="Bahamas" data-value="bahamas">
            <option value="Bangladesh" data-value="bangladesh">
            <option value="Barein" data-value="barein">
            <option value="Bélgica" data-value="belgica">
            <option value="Belice" data-value="belice">
            <option value="Bolivia" data-value="bolivia">
            <option value="Brasil" data-value="brasil">
            <option value="Bulgaria" data-value="bulgaria">
            <option value="Camboya" data-value="camboya">
            <option value="Canadá" data-value="canada">
            <option value="Chile" data-value="chile">
            <option value="Colombia" data-value="colombia">
            <option value="Corea del Sur" data-value="coreaDelSur">
            <option value="Costa Rica" data-value="costaRica">
            <option value="Croacia" data-value="croacia">
            <option value="Dinamarca" data-value="dinamarca">
            <option value="Ecuador" data-value="ecuador">
            <option value="Egipto" data-value="egipto">
            <option value="Emiratos Arabes" data-value="emiratosArabes">
            <option value="España" data-value="espana">
            <option value="Eslovaquia" data-value="eslovaquia">
            <option value="Eslovenia" data-value="eslovenia">
            <option value="Estados Unidos" data-value="eeuu">
            <option value="Filipinas" data-value="filipinas">
            <option value="Finlandia" data-value="finlandia">
            <option value="Francia" data-value="francia">
            <option value="Grecia" data-value="grecia">
            <option value="Guyana" data-value="guyana">
            <option value="Holanda" data-value="holanda">
            <option value="Hungría" data-value="hungria">
            <option value="India" data-value="india">
            <option value="Indonesia" data-value="indonesia">
            <option value="Inglaterra" data-value="inglaterra">
            <option value="Irlanda" data-value="irlanda">
            <option value="Isla Mauricio" data-value="islaMauricio">
            <option value="Islandia" data-value="islandia">
            <option value="Israel" data-value="israel">
            <option value="Italia" data-value="italia">
            <option value="Jamaica" data-value="jamaica">
            <option value="Japón" data-value="japon">
            <option value="Jordania" data-value="jordania">
            <option value="Kenia" data-value="kenia">
            <option value="Kuwait" data-value="kuwait">
            <option value="Letonia" data-value="letonia">
            <option value="Libano" data-value="libano">
            <option value="Liberia" data-value="liberia">
            <option value="Libia" data-value="libia">
            <option value="Lituania" data-value="lituania">
            <option value="Luxemburgo" data-value="luxemburgo">
            <option value="Macedonia" data-value="macedonia">
            <option value="Malasia" data-value="malasia">
            <option value="Marruecos" data-value="marruecos">
            <option value="México" data-value="mexico">
            <option value="Moldova" data-value="moldova">
            <option value="Montenegro" data-value="montenegro">
            <option value="Namibia" data-value="namibia">
            <option value="Nepal" data-value="nepal">
            <option value="Nicaragua" data-value="nicaragua">
            <option value="Noruega" data-value="noruega">
            <option value="Nueva Zelanda" data-value="nuevaZelanda">
            <option value="Oman" data-value="oman">
            <option value="Pakistán" data-value="pakistan">
            <option value="Panamá" data-value="panama">
            <option value="Perú" data-value="peru">
            <option value="Polonia" data-value="polonia">
            <option value="Portugal" data-value="portugal">
            <option value="Qatar" data-value="qatar">
            <option value="República Checa" data-value="republicaCheca">
            <option value="República Dominicana" data-value="republicaDominicana">
            <option value="Ruanda" data-value="ruanda">
            <option value="Rumania" data-value="rumania">
            <option value="Rusia" data-value="rusia">
            <option value="Salvador" data-value="elSalvador">
            <option value="Servia" data-value="servia">
            <option value="Singapur" data-value="singapur">
            <option value="Somalia" data-value="somalia">
            <option value="Sudafrica" data-value="sudafrica">
            <option value="Suecia" data-value="suecia">
            <option value="Suiza" data-value="suiza">
            <option value="Sri Lanka" data-value="sriLanka">
            <option value="Tailandia" data-value="tailandia">
            <option value="Tanzania" data-value="tanzania">
            <option value="Trinidad y Tobago" data-value="trinidadYTobago">
            <option value="Túnez" data-value="tunez">
            <option value="Turquía" data-value="turquia">
            <option value="Ucrania" data-value="ucrania">
            <option value="Uganda" data-value="uganda">
            <option value="Uruguay" data-value="uruguay">                
            <option value="Venezuela" data-value="venezuela">
            <option value="Vietnam" data-value="vietnam">
            <option value="Zimbabue" data-value="zimbabue">
          </datalist>
          <form>
            <button type="button" class=" btn-primary" id="add-country-announce"><i class="fas fa-plus"></i></button>
          </form>
        </div>
        <div class="selected-country-announce" id="selected-country-announce">

        </div>
      </div>
      <p id="error-messages" class="error-messages"></p>
      <div class="d-flex justify-content-center">
        <button type="reset" class="btn calculateAgainButton btn-primary d-none" id="calculateAgainButton"><i class="fas fa-undo-alt"></i> Volver a calcular</button>
        <button type="submit" class="btn calculateButton btn-primary" id="calculateButton"><i class="fas fa-calculator"></i> Calcular</button>
      </div>        
        
    </form>

    <section class="results-container" id="results-container">
      <h3 class="text-decoration-underline m-3">Resultados:</h3>

      <div id="result-googleads-facebookads-container" style="display: none;">
        
        <div id="accordionMonthlyTotals">
          <div class="card">
            <div class="card-header" id="headingMonthlyTotals" data-toggle="collapse" data-target="#collapseMonthlyTotals" aria-expanded="false" aria-controls="collapseMonthlyTotals">
              <h6 class="mb-0 titlesCollapse">
                <i class="iconsToRotate fas fa-angle-double-down"></i>
                <p><u>Resultados totales por mes:</u>  <strong id="total-conversions"></strong> conversiones totales</p>
              </h6>
            </div>
        
            <div id="collapseMonthlyTotals" class="collapse" aria-labelledby="headingMonthlyTotals" data-parent="#accordionMonthlyTotals">
              <div class="card-body">
                
                <div id="result-google-search-ads-container" style="display: none">
                  <div id="accordionGSAds">
                    <div class="card">
                      <div class="card-header" id="headingGSAds" data-toggle="collapse" data-target="#collapseGSAds" aria-expanded="false" aria-controls="collapseGSAds">
                        <h6 class="mb-0 titlesCollapse">
                          <i class="iconsToRotate fas fa-angle-down"></i>
                          <p><u>Google Ads Search:</u>  <span id="google-search-ads-conversions"></span></p>
                        </h6>
                      </div>
                  
                      <div id="collapseGSAds" class="collapse" aria-labelledby="headingGSAds" data-parent="#accordionGSAds">
                        <div class="card-body">
                          <div id="result-google-search" style="margin: 10px"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div id="result-google-display-ads-container" style="display: none">
                  <div id="accordionGDAds">
                    <div class="card">
                      <div class="card-header" id="headingGDAds" data-toggle="collapse" data-target="#collapseGDAds" aria-expanded="false" aria-controls="collapseGDAds">
                        <h6 class="mb-0 titlesCollapse">
                          <i class="iconsToRotate fas fa-angle-down"></i>
                          <p><u>Google Ads Display:</u>  <span id="google-display-ads-conversions"></span></p>
                        </h6>
                      </div>
                  
                      <div id="collapseGDAds" class="collapse" aria-labelledby="headingGDAds" data-parent="#accordionGDAds">
                        <div class="card-body">
                          <div id="result-google-display" style="margin: 10px"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div id="result-facebook-ads-container" style="display: none">
                  <div id="accordionFbAds">
                    <div class="card">
                      <div class="card-header" id="headingFbAds" data-toggle="collapse" data-target="#collapseFbAds" aria-expanded="false" aria-controls="collapseFbAds">
                        <h6 class="mb-0 titlesCollapse">
                          <i class="iconsToRotate fas fa-angle-down"></i>
                          <p><u>Facebook Ads:</u>  <span id="facebook-ads-conversions"></span></p>
                        </h6>
                      </div>
                  
                      <div id="collapseFbAds" class="collapse" aria-labelledby="headingFbAds" data-parent="#accordionFbAds">
                        <div class="card-body">
                          <div id="result-facebook-ads" style="margin: 10px"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      

              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="result-agency-once-fee-container">
        <div id="accordionOne">
          <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h6 class="mb-0 titlesCollapse">
                <i class="iconsToRotate fas fa-angle-double-down"></i>
                <p><u>Costo de Agencia de implementación (1 vez):</u>  <span id="result-agency-once-fee"></span></p>
              </h6>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOne">
              <div class="card-body">
              <ul id="result-agency-once-fee-details" style="list-style-type: none"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="result-agency-monthly-fee-container">
        <div id="accordionTwo">
          <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h6 class="mb-0 titlesCollapse">
                <i class="iconsToRotate fas fa-angle-double-down"></i>
                <p><u>Costo mensual de Agencia de mantenimiento (1 vez):</u>  <span id="result-agency-monthly-fee"></span></p>
              </h6>
            </div>
        
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTwo">
              <div class="card-body">
                <ul id="result-agency-monthly-fee-details" style="list-style-type: none"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="result-investments-monthly-container">
        <div id="accordionThree">
          <div class="card">
            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h6 class="mb-0 titlesCollapse">
                <i class="iconsToRotate fas fa-angle-double-down"></i>
                <p><u>Costo mensual de inversión en medios (total):</u>  <span id="result-investments-monthly"></span></p>
              </h6>
            </div>
        
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionThree">
              <div class="card-body">
                <ul id="result-investments-monthly-details" style="list-style-type: none"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="result-monthly-total-container">
        <div id="accordionFour">
          <div class="card">
            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h6 class="mb-0 titlesCollapse">
                <i class="iconsToRotate fas fa-angle-double-down"></i>
                <p><u>Costo total mensual (Fee de agencia + inversión en medios):</u>  <span id="result-monthly-total"></span></p>
              </h6>
            </div>
        
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFour">
              <div class="card-body" >
                <ul id="result-monthly-total-detail" style="list-style-type: none"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
  </div>
  </body>
</html>
