<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/cotizador.js" defer></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="">
      <h3>¿De qué país es el proveedor de servicios que querés contratar?</h3>
      <div class="country-supplier-container">    
        <select name="country-supplier" id="country-supplier">
          <option value="argentina">Argentina</option>
          <option value="chile">Chile</option>
          <option value="paraguay">Paraguay</option>
          <option value="uruguay">Uruguay</option>
          <option value="brasil">Brasil</option>
          <option value="bolivia">Bolivia</option>
          <option value="peru">Perú</option>
          <option value="ecuador">Ecuador</option>
          <option value="colombia">Colombia</option>
          <option value="costaRica">Costa Rica</option>
          <option value="mexico">México</option>
          <option value="eeuu">Estados Unidos</option>
          <option value="espana">España</option>
        </select>
      </div>
      <h3>Elegí los servicios requeridos:</h3>
      <div class="services-container">
        <div>
          <input type="checkbox" name="google-facebook-ads" id="google-facebook-ads">
          <label for="google-facebook-ads">Gestión de campañas pagas en Google Ads y Facebook Ads</label>
        </div>
        <div>
          <input type="checkbox" name="seo" id="seo">
          <label for="seo">SEO (Posicionamiento orgánico en Google)</label>
        </div>
        <div>
          <input type="checkbox" name="wordpress" id="wordpress">
          <label for="wordpress">Sitio Web Standard de Wordpress en base a una plantilla</label>
        </div>
        <div>
          <input type="checkbox" name="tienda-nube" id="tienda-nube">
          <label for="tienda-nube">Sitio Web de Ecommerce con Tienda Nube</label>
        </div>
        <div>
          <input type="checkbox" name="woocommerce" id="woocommerce">
          <label for="woocommerce">Sitio Web de Ecommerce con plantilla de Wordpress y Woocommerce</label>
        </div>
        <div>
          <input type="checkbox" name="redes-sociales" id="redes-sociales">
          <label for="redes-sociales">Gestión Completa de Redes Sociales <small>(Creación de 20 piezas gráficas por mes, planificación de calendario, redacción de textos y publicar contenido)</small></label>
        </div>
        <div>
          <input type="checkbox" name="email" id="email">
          <label for="email">Email Marketing <small>(8 Envíos por mes con Plantillas HTML; prediseñadas)</small></label>
        </div>
        <div>
          <input type="checkbox" name="logo-marca" id="logo-marca">
          <label for="logo-marca">Diseño de Logo + Manual de Marca <small>(Tipografía, Paleta de colores y Concepto de Marca)</small></label>
        </div>
        <div>
          <input type="checkbox" name="mantenimiento" id="mantenimiento">
          <label for="mantenimiento">Mantenimiento Web</label>
        </div>
      </div>
      <div class="email-ammount-container" id="email-ammount-container" style="display: none;">
        <label for="email-ammount">Selecciona el número de contactos que querés usar para tus campañas de Email Marketing para estimar el costo mensual de la plataforma de envíos:</label>
        <select name="email-ammount" id="email-ammount">
          <option value="">-</option>
          <option value="12">1.000</option>
          <option value="25">2.500</option>
          <option value="44">5.000</option>
          <option value="54">7.500</option>
          <option value="65">10.000</option>
          <option value="83">15.000</option>
          <option value="101">20.000</option>
          <option value="119">25.000</option>
          <option value="137">30.000</option>
          <option value="155">35.000</option>
          <option value="173">40.000</option>
          <option value="191">45.000</option>
          <option value="210">50.000</option>
          <option value="229">55.000</option>
          <option value="248">60.000</option>
          <option value="267">65.000</option>
          <option value="286">70.000</option>
          <option value="305">75.000</option>
          <option value="324">80.000</option>
          <option value="343">85.000</option>
          <option value="362">90.000</option>
          <option value="381">95.000</option>
          <option value="400">10.000</option>
        </select>
      </div>
      <h3>¿En qué país querés que aparezcan tus anuncios?</h3>
      <div class="country-announce-container">    
        <select name="country-announce" id="country-announce">
          <option value="argentina">Argentina</option>
          <option value="chile">Chile</option>
          <option value="paraguay">Paraguay</option>
          <option value="uruguay">Uruguay</option>
          <option value="brasil">Brasil</option>
          <option value="bolivia">Bolivia</option>
          <option value="peru">Perú</option>
          <option value="ecuador">Ecuador</option>
          <option value="colombia">Colombia</option>
          <option value="costaRica">Costa Rica</option>
          <option value="mexico">México</option>
          <option value="eeuu">Estados Unidos</option>
          <option value="espana">España</option>
        </select>
      </div>

      <h3>¿Cuál es el objetivo de tu campaña?</h3>
      <div>
        <input type="radio" name="objetivo" id="leads">
        <label for="objetivo">Leads</label>
        <input type="radio" name="objetivo" id="descargas">
        <label for="objetivo">Descargas</label>
        <input type="radio" name="objetivo" id="ventas">
        <label for="objetivo">Ventas</label>
      </div>

    </form>

    <section class="results-container" id="results-container">
      <h2>Resultados:</h2>
      <div id="result-googleads-facebookads-container" style="display: none;">
        <p>Inversión en Medios Digitales (Google Ads y Facebook Ads) mensual:</p> <p id="result-googleads-facebookads">-</p>
      </div>
      <div id="email-result-container" style="display: none;">
        <p>Costo de plataforma de Email Marketing mensual:</p> <p id="result-email">-</p>
      </div>
      <div>
        <p>Fee de servicios mensual:</p> <p id="result-service-fee">-</p>
      </div>
      <div>
        <p>Fee de servicios que se hacen 1 sola vez (Sitio web, por ejemplo):</p> <p id="result-once-fee">-</p>
      </div>
      <h4>Montos estimados:</h4>
      <div>
        <p>Total mensual</p> <p id="monthly-total">-</p>
      </div>
      <div>
        <p>Resultados estimados:</p> <p id="estimated-earning">-</p>
      </div>
      <div>
        <p>Total de fee de agencia sin fee mensual (1 vez):</p> <p id="agency-once-fee">-</p>
      </div>
      
    </section>
  </body>
</html>
