<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan&display=swap" rel="stylesheet">
    <link rel='stylesheet' media='all' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cotizador marketing digital - Digital Now Argentina">
    <!-- -jQuery 3.6.0- -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous" defer></script>
    <!---Bootstrap 5.0.0--->
    <link rel="stylesheet" media='all'
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"
        defer>
        </script>
    <!---Font Awesome--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!---Main Script--->
    <script src="/javascripts/calculator.js" defer></script>

</head>

<body>
    <div class="container-fluid">
        <div id="language-selector" class="language-selector">
            <a href="/esp"><i class="fas fa-globe-americas"></i> ESP</a>
        </div>
        <div class="row">
            <div class="col-3 col-md-2 col-lg-1">
                <a href="https://digitalnow.com.ar/">
                    <img src="./images/Logo-Digital-now.png" alt="Digital Now | Online Marketing Agency - Argentina"
                        class="digitalNowLogo">
                </a>
            </div>
            <div class="col-9 col-md-10 col-lg-11">
                <h1 class="text-center mb-4">
                    <%= title %>
                </h1>
            </div>
            <h4 class="mt-4 mb-4" id="info-extra-top-message" style="font-size: 18px !important; font-weight: bold;">
                Complete the fields with the required information to estimate the possible costs of the digital
                marketing services, and the estimated results within the average market value...</h4>
            <section class="form-calculate-container animated-toggle-base" id="form-calculate-container">
                <h3 class="mt-3 mb-3">From which country are the service providers you want to hire?</h3>
                <div class="country-supplier-container"> <select name="country-supplier" id="country-supplier"
                        class="country-supplier">
                        <option value="argentina">Argentina</option>
                        <option value="australia">Australia</option>
                        <option value="bangladesh">Bangladesh</option>
                        <option value="colombia">Colombia</option>
                        <option value="spain">España</option>
                        <option value="eeuu">Estados Unidos</option>
                        <option value="philippines">Filipinas</option>
                        <option value="india">India</option>
                        <option value="england">Inglaterra</option>
                        <option value="mexico">México</option>
                        <option value="southafrica">Sudafrica</option>
                        <option value="ukraine">Ucrania</option>
                        <option value="venezuela">Venezuela</option>
                    </select></div>
                <h3>Choose the required services:</h3>
                <div class="services-container card">
                    <div> <label for="google-search-ads"> <input type="checkbox" name="google-search-ads"
                                id="google-search-ads" class="services-check"> Google Ads Search Network <small>(Ads
                                appearing next to search results
                                in Google)</small> </label></div>
                    <div> <label for="google-display-ads"> <input type="checkbox" name="google-display-ads"
                                id="google-display-ads" class="services-check"> Google Display Ads <small>(Ads appearing
                                in
                                websites)</small> </label></div>
                    <div> <label for="facebook-ads"> <input type="checkbox" name="facebook-ads" id="facebook-ads"
                                class="services-check"> Facebook Ads <small>(Ads in Facebook and Instagram)</small>
                        </label>
                    </div>
                    <div> <label for="conversionWeb"> <input type="checkbox" name="conversionWeb" id="conversionWeb"
                                class="services-check"> Conversion Rate Optimization (CRO) </label></div>
                    <div> <label for="disenoWeb"> <input type="checkbox" name="disenoWeb" id="disenoWeb"
                                class="services-check">
                            Web Design and Development </label></div>
                    <fieldset id="disenoWebServicesContainer"
                        class="disenoWebServicesContainer animated-toggle-base animated-toggle-hide"
                        style="display: none;">
                        <div class="card" style="flex-direction: column; align-items: flex-start;">
                            <div> <label for="landingPage"> <input type="checkbox" name="landing-page" id="landingPage"
                                        class="services-check"> Basic Plan for Landing Page <small>(10 hours)</small>
                                </label>
                            </div>
                            <div> <label for="wordpress"> <input type="checkbox" name="wordpress" id="wordpress"
                                        class="services-check"> Standard Plan for Website with 5 pages and a pre-design
                                    template
                                    <small>(20 hours)</small> </label></div>
                            <div> <label for="customWebsite"> <input type="checkbox" name="custom-website"
                                        id="customWebsite" class="services-check"> Premium Plan: Website with a
                                    personalized design <small>(50
                                        horas)</small> </label></div>
                            <div> <label for="ecommerceWeb"> <input type="checkbox" name="ecommerce-web"
                                        id="ecommerceWeb" class="services-check"> Ecommerce simple website with CMS,
                                    like WooCommerce, Tienda Nube
                                    or Shopify
                                    <small>(20 hours)</small> </label></div>
                            <div> <label for="logoMarca"> <input type="checkbox" name="logo-marca" id="logoMarca"
                                        class="services-check"> Logo design and Brand Identity <small>(10 hours)</small>
                                </label></div>
                        </div>
                    </fieldset>
                </div>
                <div class="services-extra-container card animated-toggle-base animated-toggle-hide"
                    id="services-extra-container">
                    <div id="industry-and-country-selectors-container" class="industry-and-country-selectors-container">
                        <h4 class="text-center info-extra-titles"><strong>Ads:</strong></h4>
                        <div class="country-announce-container" id="country-announce-container">
                            <h5 style="text-align: center;">In which country the ads would appear?</h5>
                            <div class="country-announce-selector"> <input list="country-announce-list"
                                    id="country-announce" />
                                <datalist name="country-announce-list" id="country-announce-list">
                                    <option value="Albania" data-value="albania">
                                    <option value="Algeria" data-value="argelia">
                                    <option value="Arab Emirates" data-value="emiratosArabes">
                                    <option value="Argentina" data-value="argentina">
                                    <option value="Armenia" data-value="armenia">
                                    <option value="Australia" data-value="australia">
                                    <option value="Austria" data-value="austria">
                                    <option value="Bahamas" data-value="bahamas">
                                    <option value="Bahrain" data-value="barein">
                                    <option value="Bangladesh" data-value="bangladesh">
                                    <option value="Belgium" data-value="belgica">
                                    <option value="Belize" data-value="belice">
                                    <option value="Bolivia" data-value="bolivia">
                                    <option value="Brazil" data-value="brasil">
                                    <option value="Bulgaria" data-value="bulgaria">
                                    <option value="Cambodia" data-value="camboya">
                                    <option value="Canada" data-value="canada">
                                    <option value="Chile" data-value="chile">
                                    <option value="Colombia" data-value="colombia">
                                    <option value="Costa Rica" data-value="costaRica">
                                    <option value="Croatia" data-value="croacia">
                                    <option value="Czech Republic" data-value="republicaCheca">
                                    <option value="Denmark" data-value="dinamarca">
                                    <option value="Dominican Republic" data-value="republicaDominicana">
                                    <option value="Ecuador" data-value="ecuador">
                                    <option value="Egypt" data-value="egipto">
                                    <option value="England" data-value="inglaterra">
                                    <option value="Finland" data-value="finlandia">
                                    <option value="France" data-value="francia">
                                    <option value="Germany" data-value="alemania">
                                    <option value="Greece" data-value="grecia">
                                    <option value="Guyana" data-value="guyana">
                                    <option value="Holland" data-value="holanda">
                                    <option value="Hungary" data-value="hungria">
                                    <option value="Iceland" data-value="islandia">
                                    <option value="India" data-value="india">
                                    <option value="Indonesia" data-value="indonesia">
                                    <option value="Ireland" data-value="irlanda">
                                    <option value="Israel" data-value="israel">
                                    <option value="Italy" data-value="italia">
                                    <option value="Jamaica" data-value="jamaica">
                                    <option value="Japan" data-value="japon">
                                    <option value="Jordan" data-value="jordania">
                                    <option value="Kenya" data-value="kenia">
                                    <option value="Kuwait" data-value="kuwait">
                                    <option value="Latvia" data-value="letonia">
                                    <option value="Lebanon" data-value="libano">
                                    <option value="Liberia" data-value="liberia">
                                    <option value="Libya" data-value="libia">
                                    <option value="Lithuania" data-value="lituania">
                                    <option value="Luxembourg" data-value="luxemburgo">
                                    <option value="Macedonia" data-value="macedonia">
                                    <option value="Malaysia" data-value="malasia">
                                    <option value="Maurice Island" data-value="islaMauricio">
                                    <option value="Mexico" data-value="mexico">
                                    <option value="Morocco" data-value="marruecos">
                                    <option value="Moldova" data-value="moldova">
                                    <option value="Montenegro" data-value="montenegro">
                                    <option value="Namibia" data-value="namibia">
                                    <option value="Nepal" data-value="nepal">
                                    <option value="New Zealand" data-value="nuevaZelanda">
                                    <option value="Nicaragua" data-value="nicaragua">
                                    <option value="Noruega" data-value="noruega">
                                    <option value="Oman" data-value="oman">
                                    <option value="Pakistan" data-value="pakistan">
                                    <option value="Panama" data-value="panama">
                                    <option value="Peru" data-value="peru">
                                    <option value="Philippines" data-value="filipinas">
                                    <option value="Poland" data-value="polonia">
                                    <option value="Portugal" data-value="portugal">
                                    <option value="Qatar" data-value="qatar">
                                    <option value="Romania" data-value="rumania">
                                    <option value="Rwanda" data-value="ruanda">
                                    <option value="Russia" data-value="rusia">
                                    <option value="Salvador" data-value="elSalvador">
                                    <option value="Saudi Arabia" data-value="arabiaSaudita">
                                    <option value="Servia" data-value="servia">
                                    <option value="Singapur" data-value="singapur">
                                    <option value="Slovakia" data-value="eslovaquia">
                                    <option value="Slovenia" data-value="eslovenia">
                                    <option value="Somalia" data-value="somalia">
                                    <option value="South Korea" data-value="coreaDelSur">
                                    <option value="South Africa" data-value="sudafrica">
                                    <option value="Spain" data-value="espana">
                                    <option value="Sri Lanka" data-value="sriLanka">
                                    <option value="Sweden" data-value="suecia">
                                    <option value="Swiss" data-value="suiza">
                                    <option value="Thailand" data-value="tailandia">
                                    <option value="Tanzania" data-value="tanzania">
                                    <option value="Trinidad and Tobago" data-value="trinidadYTobago">
                                    <option value="Tunisia" data-value="tunez">
                                    <option value="Turkey" data-value="turquia">
                                    <option value="Ukraine" data-value="ucrania">
                                    <option value="Uganda" data-value="uganda">
                                    <option value="United States" data-value="eeuu">
                                    <option value="Uruguay" data-value="uruguay">
                                    <option value="Venezuela" data-value="venezuela">
                                    <option value="Vietnam" data-value="vietnam">
                                    <option value="Zimbabwe" data-value="zimbabue">
                                </datalist>
                                <form> <button type="button" class="btn btn-outline-primary" id="add-country-announce"
                                        aria-label="Agregar país a la lista">Add country</button></form>
                            </div>
                            <div class="selected-country-announce" id="selected-country-announce"></div>
                            <div id="country-selection-errors">
                                <p class="error-messages">Add one or more countries to the list</p>
                            </div>
                        </div>
                        <div id="industry-ads-selector-container" class="industry-ads-selector-container"> <label
                                for="industry-ads-selector">Select the category that represents your industry the
                                most:</label>
                            <select name="industry-ads-selector" id="industry-ads-selector">
                                <option value="">-</option>
                                <option value="autos">Auto</option>
                                <option value="negocioANegocio">Business to Business (B2B)</option>
                                <option value="serviciosAlConsumidor">Consumer Services</option>
                                <option value="citas">Dating & Personals</option>
                                <option value="eCommerce">E-Commerce</option>
                                <option value="educacion">Education</option>
                                <option value="serviciosDeEmpleos">Employment Services</option>
                                <option value="finanzasYSeguros">Finance & Insurance</option>
                                <option value="salud">Health & Medical</option>
                                <option value="articulosParaElHogar">Home Goods</option>
                                <option value="serviciosIndustriales">Industrial Services</option>
                                <option value="serviciosLegales">Legal</option>
                                <option value="realEstate">Real Estate</option>
                                <option value="tecnologia">Technology</option>
                                <option value="viajes">Travel & Hospitality</option>
                            </select>
                        </div>
                    </div>
                    <div id="google-search-ads-extra-container" class="google-search-ads-extra-container">
                        <h4 class="text-center info-extra-titles"><strong>Google Ads Search Network:</strong></h4>
                        <div id="investment-google-search-ads" class="investment-google-search-ads"> <label
                                for="investment-google-search-ads-value">Select the money you wish to invest:</label>
                            <input type="number" placeholder="e.g. USD $ 100" name="investment-google-search-ads-value"
                                id="investment-google-search-ads-value">
                        </div>
                    </div>
                    <div id="google-display-ads-extra-container" class="google-display-ads-extra-container">
                        <h4 class="text-center info-extra-titles"><strong>Google Display Ads:</strong></h4>
                        <div id="investment-google-display-ads" class="investment-google-display-ads"> <label
                                for="investment-google-display-ads-value">Select the money you wish to invest:</label>
                            <input type="number" placeholder="e.g. USD $ 100" name="investment-google-display-ads-value"
                                id="investment-google-display-ads-value">
                        </div>
                    </div>
                    <div id="facebook-ads-extra-container" class="facebook-ads-extra-container">
                        <h4 class="text-center info-extra-titles"><strong>Facebook Ads:</strong></h4>
                        <div id="investment-facebook-ads" class="investment-facebook-ads"> <label
                                for="investment-facebook-ads-value">Select the money you wish to invest:</label>
                            <input type="number" placeholder="e.g. USD $ 100" name="investment-facebook-ads-value"
                                id="investment-facebook-ads-value">
                        </div>
                    </div>
                    <div class="email-customer-container"> <label for="fields[3]">Please enter your email to access the
                            results:</label>
                        <div id="optin-TMQ2knsn" data-type="inline"></div>
                        <script type="text/javascript"
                            src="https://optin.myperfit.com/res/js/digitalnow/TMQ2knsn.js"></script>
                    </div>
                </div>
                <p id="error-messages" class="error-messages" style="margin-top: 15px;"></p>
                <div class="d-flex mb-2 justify-content-center"><button type="submit"
                        class="calculateButton btn-secondary" id="calculateButton" aria-label="Calcular resultados"><i
                            class="fas fa-calculator"></i>
                        Calculate</button></div>
            </section>
            <section class="animated-toggle-hide" id="results-container">
                <div class="d-flex mb-2 justify-content-center"> <button type="reset"
                        class="calculateAgainButton btn-secondary d-none" id="calculateAgainButton"
                        aria-label="Volver a calcular nuevamente"><i class="fas fa-undo-alt"></i> Calculate
                        again</button>
                </div>
                <h2 class="results-first-title" style="display: none;">Results:</h2>
                <div class="bubble-click-results-container" id="bubble-click-results-container">
                    <div class="bubble-results">
                        <div class="txt">
                            <p class="name">Digital Now<span> ~ Help</span></p>
                            <p class="message" id="bubble-results-message">Click on each item for more details!</p>
                            <span class="timestamp" id="bubble-results-timestamp"></span>
                        </div>
                        <div class="bubble-arrow"></div>
                    </div>
                </div>
                <div id="result-googleads-facebookads-container" style="display: none;">
                    <div id="accordionMonthlyTotals">
                        <div class="card">
                            <div class="card-header results-collapsible result-category-titles"
                                id="headingMonthlyTotals" data-toggle="collapse" data-target="#collapseMonthlyTotals"
                                aria-expanded="false" aria-controls="collapseMonthlyTotals">
                                <h3 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-double-down"></i>
                                    <p><u>Monthly results - <span id="results-conversions-selected"></span>:</u>
                                        <strong id="total-conversions"></strong> total conversions
                                    </p>
                                    <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click to see more...
                                    </p>
                                </h3>
                            </div>
                            <div id="collapseMonthlyTotals" class="collapse" aria-labelledby="headingMonthlyTotals"
                                data-parent="#accordionMonthlyTotals">
                                <div class="card-body">
                                    <div id="result-google-search-ads-container" style="display: none">
                                        <div id="accordionGSAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="headingGSAds" data-toggle="collapse"
                                                    data-target="#collapseGSAds" aria-expanded="false"
                                                    aria-controls="collapseGSAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p><u><strong>Google Ads Search Network:</strong></u>
                                                            <nobr> <span id="google-search-ads-conversions"></span>
                                                            </nobr>
                                                        </p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapseGSAds" class="collapse" aria-labelledby="headingGSAds"
                                                    data-parent="#accordionGSAds">
                                                    <div class="card-body">
                                                        <div id="result-google-search" style="margin: 10px"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-google-display-ads-container" style="display: none">
                                        <div id="accordionGDAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="headingGDAds" data-toggle="collapse"
                                                    data-target="#collapseGDAds" aria-expanded="false"
                                                    aria-controls="collapseGDAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p><u><strong>Google Display Ads:</strong></u>
                                                            <nobr> <span id="google-display-ads-conversions"></span>
                                                            </nobr>
                                                        </p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapseGDAds" class="collapse" aria-labelledby="headingGDAds"
                                                    data-parent="#accordionGDAds">
                                                    <div class="card-body">
                                                        <div id="result-google-display" style="margin: 10px"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-facebook-ads-container" style="display: none">
                                        <div id="accordionFbAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="headingFbAds" data-toggle="collapse"
                                                    data-target="#collapseFbAds" aria-expanded="false"
                                                    aria-controls="collapseFbAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p><u><strong>Facebook Ads:</strong></u>
                                                            <nobr> <span id="facebook-ads-conversions"></span> </nobr>
                                                        </p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapseFbAds" class="collapse" aria-labelledby="headingFbAds"
                                                    data-parent="#accordionFbAds">
                                                    <div class="card-body">
                                                        <div id="result-facebook-ads" style="margin: 10px"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="results-second-title">Costs:</h2>
                <div id="result-implementation-container">
                    <div id="accordionOne">
                        <div class="card">
                            <div class="card-header results-collapsible result-category-titles" id="headingOne"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                aria-controls="collapseOne">
                                <h3 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-double-down"></i>
                                    <p><u>Cost of implementation services (1 time):</u>
                                        <nobr> <span id="result-implementation-fee"></span> </nobr>
                                    </p>
                                    <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click to see more...
                                    </p>
                                </h3>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionOne">
                                <div class="card-body">
                                    <div id="result-implementation-conversionWeb-container" style="display: none">
                                        <div id="accordion-implementation-conversionWeb">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-conversionWeb" data-toggle="collapse"
                                                    data-target="#collapse-implementation-conversionWeb"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-conversionWeb">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-conversionWeb"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-conversionWeb" class="collapse"
                                                    aria-labelledby="heading-implementation-conversionWeb"
                                                    data-parent="#accordion-implementation-conversionWeb">
                                                    <div class="card-body">
                                                        <div id="result-implementation-conversionWeb"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-implementation-googleSearchAds-container" style="display: none">
                                        <div id="accordion-implementation-googleSearchAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-googleSearchAds" data-toggle="collapse"
                                                    data-target="#collapse-implementation-googleSearchAds"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-googleSearchAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-googleSearchAds"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-googleSearchAds" class="collapse"
                                                    aria-labelledby="heading-implementation-googleSearchAds"
                                                    data-parent="#accordion-implementation-googleSearchAds">
                                                    <div class="card-body">
                                                        <div id="result-implementation-googleSearchAds"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-implementation-googleDisplayAds-container" style="display: none">
                                        <div id="accordion-implementation-googleDisplayAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-googleDisplayAds" data-toggle="collapse"
                                                    data-target="#collapse-implementation-googleDisplayAds"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-googleDisplayAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-googleDisplayAds"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-googleDisplayAds" class="collapse"
                                                    aria-labelledby="heading-implementation-googleDisplayAds"
                                                    data-parent="#accordion-implementation-googleDisplayAds">
                                                    <div class="card-body">
                                                        <div id="result-implementation-googleDisplayAds"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-implementation-facebookAds-container" style="display: none">
                                        <div id="accordion-implementation-facebookAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-facebookAds" data-toggle="collapse"
                                                    data-target="#collapse-implementation-facebookAds"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-facebookAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-facebookAds"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-facebookAds" class="collapse"
                                                    aria-labelledby="heading-implementation-facebookAds"
                                                    data-parent="#accordion-implementation-facebookAds">
                                                    <div class="card-body">
                                                        <div id="result-implementation-facebookAds"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-implementation-landingPage-container" style="display: none">
                                        <div id="accordion-implementation-landingPage">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-landingPage" data-toggle="collapse"
                                                    data-target="#collapse-implementation-landingPage"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-landingPage">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-landingPage"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-landingPage" class="collapse"
                                                    aria-labelledby="heading-implementation-landingPage"
                                                    data-parent="#accordion-implementation-landingPage">
                                                    <div class="card-body">
                                                        <div id="result-implementation-landingPage"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-implementation-wordpress-container" style="display: none">
                                        <div id="accordion-implementation-wordpress">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-wordpress" data-toggle="collapse"
                                                    data-target="#collapse-implementation-wordpress"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-wordpress">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-wordpress"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-wordpress" class="collapse"
                                                    aria-labelledby="heading-implementation-wordpress"
                                                    data-parent="#accordion-implementation-wordpress">
                                                    <div class="card-body">
                                                        <div id="result-implementation-wordpress"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-implementation-customWebsite-container" style="display: none">
                                        <div id="accordion-implementation-customWebsite">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-customWebsite" data-toggle="collapse"
                                                    data-target="#collapse-implementation-customWebsite"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-customWebsite">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-customWebsite"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-customWebsite" class="collapse"
                                                    aria-labelledby="heading-implementation-customWebsite"
                                                    data-parent="#accordion-implementation-customWebsite">
                                                    <div class="card-body">
                                                        <div id="result-implementation-customWebsite"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-implementation-ecommerceWeb-container" style="display: none">
                                        <div id="accordion-implementation-ecommerceWeb">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-ecommerceWeb" data-toggle="collapse"
                                                    data-target="#collapse-implementation-ecommerceWeb"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-ecommerceWeb">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-ecommerceWeb"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-ecommerceWeb" class="collapse"
                                                    aria-labelledby="heading-implementation-ecommerceWeb"
                                                    data-parent="#accordion-implementation-ecommerceWeb">
                                                    <div class="card-body">
                                                        <div id="result-implementation-ecommerceWeb"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-implementation-logoYMarca-container" style="display: none">
                                        <div id="accordion-implementation-logoYMarca">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-implementation-logoYMarca" data-toggle="collapse"
                                                    data-target="#collapse-implementation-logoYmarca"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-implementation-logoYmarca">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-implementation-logoYMarca"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-implementation-logoYmarca" class="collapse"
                                                    aria-labelledby="heading-implementation-logoYMarca"
                                                    data-parent="#accordion-implementation-logoYMarca">
                                                    <div class="card-body">
                                                        <div id="result-implementation-logoYMarca"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="result-maintenance-container">
                    <div id="accordionTwo">
                        <div class="card">
                            <div class="card-header results-collapsible result-category-titles" id="headingTwo"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                <h3 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-double-down"></i>
                                    <p><u>Cost of monthly maintenance services:</u>
                                        <nobr> <span id="result-maintenance-fee"></span> </nobr>
                                    </p>
                                    <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click to see more...
                                    </p>
                                </h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionTwo">
                                <div class="card-body">
                                   
                                    <div id="result-maintenance-conversionWeb-container" style="display: none">
                                        <div id="accordion-maintenance-conversionWeb">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-conversionWeb" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-conversionWeb"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-maintenance-conversionWeb">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-conversionWeb"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-conversionWeb" class="collapse"
                                                    aria-labelledby="heading-maintenance-conversionWeb"
                                                    data-parent="#accordion-maintenance-conversionWeb">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-conversionWeb"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-maintenance-googleSearchAds-container" style="display: none">
                                        <div id="accordion-maintenance-googleSearchAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-googleSearchAds" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-googleSearchAds"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-maintenance-googleSearchAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-googleSearchAds"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-googleSearchAds" class="collapse"
                                                    aria-labelledby="heading-maintenance-googleSearchAds"
                                                    data-parent="#accordion-maintenance-googleSearchAds">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-googleSearchAds"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-maintenance-googleDisplayAds-container" style="display: none">
                                        <div id="accordion-maintenance-googleDisplayAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-googleDisplayAds" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-googleDisplayAds"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-maintenance-googleDisplayAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-googleDisplayAds"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-googleDisplayAds" class="collapse"
                                                    aria-labelledby="heading-maintenance-googleDisplayAds"
                                                    data-parent="#accordion-maintenance-googleDisplayAds">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-googleDisplayAds"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-maintenance-facebookAds-container" style="display: none">
                                        <div id="accordion-maintenance-facebookAds">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-facebookAds" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-facebookAds"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-maintenance-facebookAds">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-facebookAds"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-facebookAds" class="collapse"
                                                    aria-labelledby="heading-maintenance-facebookAds"
                                                    data-parent="#accordion-maintenance-facebookAds">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-facebookAds"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-maintenance-landingPage-container" style="display: none">
                                        <div id="accordion-maintenance-landingPage">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-landingPage" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-landingPage"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-maintenance-landingPage">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-landingPage"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-landingPage" class="collapse"
                                                    aria-labelledby="heading-maintenance-landingPage"
                                                    data-parent="#accordion-maintenance-landingPage">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-landingPage"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-maintenance-wordpress-container" style="display: none">
                                        <div id="accordion-maintenance-wordpress">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-wordpress" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-wordpress" aria-expanded="false"
                                                    aria-controls="collapse-maintenance-wordpress">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-wordpress"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-wordpress" class="collapse"
                                                    aria-labelledby="heading-maintenance-wordpress"
                                                    data-parent="#accordion-maintenance-wordpress">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-wordpress"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-maintenance-customWebsite-container" style="display: none">
                                        <div id="accordion-maintenance-customWebsite">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-customWebsite" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-customWebsite"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-maintenance-customWebsite">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-customWebsite"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-customWebsite" class="collapse"
                                                    aria-labelledby="heading-maintenance-customWebsite"
                                                    data-parent="#accordion-maintenance-customWebsite">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-customWebsite"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-maintenance-ecommerceWeb-container" style="display: none">
                                        <div id="accordion-maintenance-ecommerceWeb">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-ecommerceWeb" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-ecommerceWeb"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-maintenance-ecommerceWeb">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-ecommerceWeb"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-ecommerceWeb" class="collapse"
                                                    aria-labelledby="heading-maintenance-ecommerceWeb"
                                                    data-parent="#accordion-maintenance-ecommerceWeb">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-ecommerceWeb"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="result-maintenance-logoYMarca-container" style="display: none">
                                        <div id="accordion-maintenance-logoYMarca">
                                            <div class="card">
                                                <div class="card-header results-collapsible result-service-titles"
                                                    id="heading-maintenance-logoYMarca" data-toggle="collapse"
                                                    data-target="#collapse-maintenance-logoYmarca" aria-expanded="false"
                                                    aria-controls="collapse-maintenance-logoYmarca">
                                                    <h4 class="titlesCollapse"> <i
                                                            class="iconsToRotate fas fa-angle-down"></i>
                                                        <p id="title-maintenance-logoYMarca"></p>
                                                        <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i>
                                                            Click to
                                                            see more...</p>
                                                    </h4>
                                                </div>
                                                <div id="collapse-maintenance-logoYmarca" class="collapse"
                                                    aria-labelledby="heading-maintenance-logoYMarca"
                                                    data-parent="#accordion-maintenance-logoYMarca">
                                                    <div class="card-body">
                                                        <div id="result-maintenance-logoYMarca"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="result-investments-monthly-container">
                    <div id="accordionThree">
                        <div class="card">
                            <div class="card-header results-collapsible result-category-titles" id="headingThree"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                <h3 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-double-down"></i>
                                    <p><u>Monthly investment cost<span id="results-investments-selected"></span>:</u>
                                        <nobr> <span id="result-investments-monthly"></span> </nobr>
                                    </p>
                                    <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click to see more...
                                    </p>
                                </h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionThree">
                                <div class="card-body">
                                    <ul id="result-investments-monthly-details"
                                        style="list-style-type: none !important"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="result-monthly-total-container" class="result-monthly-total-container">
                    <div class="checkContainer" id="headingFour">
                        <h2 class="titlesCollapse"><i class="iconCheck fas fa-check"></i><span
                                id="implementation-cost-message" style="display: none;"><u>Total cost of implementation
                                    services (1 time):</u><strong>
                                    <nobr><span id="implementation-cost-total" style="display: none;"></span></nobr>
                                </strong></span> <span id="monthly-total-cost-message"><u>Monthly total cost <span
                                        id="results-monthly-total-selected" style="padding: 0px;"></span>:</u> <strong>
                                    <nobr> <span id="result-monthly-total"></span></nobr>
                                </strong></span></h2>
                    </div>
                </div>
                <h2 class="results-third-title">How was this data collected?</h2>
                <div class="card text-center info-extra-bottom" id="info-extra-bottom">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item info-extra-tab"> <a class="nav-link" id="what-does-tab"
                                    data-toggle="tab" href="" data-target="#what-does" role="tab"
                                    aria-controls="what-does" aria-selected="false"><i class="fas fa-info-circle"></i>
                                    What does it do?</a></li>
                            <li class="nav-item info-extra-tab"> <a class="nav-link" id="info-tab" data-toggle="tab"
                                    href="" data-target="#info" role="tab" aria-controls="info" aria-selected="false"><i
                                        class="fas fa-search-dollar"></i> Prices of Ads <span
                                        class="short-title-mobile">in Digital Marketing</span></a></li>
                            <li class="nav-item info-extra-tab"> <a class="nav-link" id="statistics-tab"
                                    data-toggle="tab" href="" data-target="#statistics" role="tab"
                                    aria-controls="statistics" aria-selected="false"><i class="fas fa-chart-line"></i>
                                    <span class="short-title-mobile">Prices of</span> Google <span
                                        class="short-title-mobile">Ads
                                    </span>and Facebook Ads</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade" id="what-does" role="tabpanel" aria-labelledby="what-does-tab">
                                <h2 class="what-does-extra-bottom-card-titles">What does it do?</h2>
                                <p class="card-text" style="text-align: start;">By using this online Budget Calculator
                                    you would be able to make an estimate of the following:</p>
                                <ul style="list-style-type: circle !important; text-align: start;">
                                    <li>The prices for your marketing digital services providers depending on the
                                        country, the kind of services (Google ads, SEO, Social Media Manager, etc.)</li>
                                    <li>Prices of Google Ads and Facebook Ads: How much it costs and which results you
                                        could get in terms of sales, interaction, or other kind of action implemented on
                                        your website (conversions).</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <h2 class="info-extra-bottom-card-titles">Prices of Ads in Digital Marketing</h2>
                                <p class="card-text" style="text-align: start;">Our Marketing Budget Calculator
                                    calculates an average pricing by using the freelancer’s prices listed in <a
                                        href="https://www.upwork.com/" target="_blank"
                                        rel="noreferrer noopener">Upwork</a> platform for each country (13 in total) for
                                    the next skills:</p>
                                <ul style="text-align: start; list-style-type: circle !important;">
                                    <li>Digital Marketing Analyst</li>
                                    <li>SEO Analyst</li>
                                    <li>Community Manager</li>
                                    <li>Content Writer</li>
                                    <li>UX / UI Designer</li>
                                    <li>Graphic Designer</li>
                                    <li>Programmer</li>
                                    <li>Video Editor</li>
                                </ul>
                                <p class="card-text" style="text-align: start;">Taking into account these prices by the
                                    hour, our Marketing Budget Calculator makes a calculation to give you an approximate
                                    price for your marketing plan, also considering how many hours are needed for each
                                    skill to accomplish the task. The hours needed for the execution of each skill is
                                    what we consider in Digital Now it's missing.<br><br>For example, to accomplish a
                                    plan for Social Media Management we consider the next skills necessary for each
                                    month:<br><br><i>- 8 hours of Community Manager 16 USD an hour <small>(Price
                                            average of freelancers working as a Social Media Manager in
                                            Argentina).</small><br><br>- 10 hours of Graphic Designer 27 USD an hour
                                        <small>(Price average of freelancers working as a Graphic Designer in
                                            Argentina)</small><br><br>- 2 hours of Video Editing 20 USD an hour
                                        <small>(Price average of freelancers working as a Video Editor in
                                            Argentina).</small><br><br>Price by month of the marketing plan = 8 * 16 +
                                        10 * 27 + 2 * 20 = US $ 438</i></p>
                            </div>
                            <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
                                <h2 class="info-extra-bottom-card-titles">Prices for Google Ads and Facebook Ads:</h2>
                                <p class="card-text" style="text-align: start;">We use data from <a
                                        href="https://www.wordstream.com" target="_blank"
                                        rel="noreferrer noopener">Wordstream</a>, to get the cost per conversion for
                                    each industry (cars, customer service, B2B, dating, etc), by web (Google Ads Search,
                                    Google Ads Display and Facebook Ads), and by country, 98 in total.<br>First it is
                                    important to understand what a conversion is.<br>A conversion is a valuable action
                                    that the user takes on your website (like buying or consulting). Therefore, the cost
                                    for each conversion is different for each industry, and the cost per acquisition is
                                    also different.<br>To calculate these prices and the estimated results, our
                                    Marketing Budget Calculator takes into consideration the next information taken from
                                    <a href="https://www.wordstream.com" target="_blank"
                                        rel="noreferrer noopener">Wordstream</a>:
                                </p>
                                <ul style="text-align: start; list-style-type: circle !important;">
                                    <li style="margin-bottom: 0.8rem;"> <a
                                            href="https://www.wordstream.com/blog/ws/2015/07/06/average-cost-per-click"
                                            target="_blank" rel="noreferrer noopener">Cost per Click in each
                                            Country:</a> We use which is the cost per click for each country, compared
                                        to the United States of America. For example, the cost per click in Colombia is
                                        83% less than the price in the USA.</li>
                                    <li style="margin-bottom: 0.8rem;"> <a
                                            href="https://www.wordstream.com/blog/ws/2016/02/29/google-adwords-industry-benchmarks"
                                            target="_blank" rel="noreferrer noopener">Benchmarks from Google Ads from
                                            each industry in the USA:</a> We use the CPA (Cost per Acquisition) of
                                        Google Ads from the USA from different industries.</li>
                                    <li style="margin-bottom: 0.8rem;"> <a
                                            href="https://www.wordstream.com/blog/ws/2017/02/28/facebook-advertising-benchmarks"
                                            target="_blank" rel="noreferrer noopener">Benchmarks from Facebook Ads for
                                            each industry in the USA:</a> We use the CPA (Cost per Acquisition) of
                                        Facebook Ads from the USA from different industries.</li>
                                </ul>
                                <p class="card-text" style="text-align: start;">What we do to calculate the cost for
                                    each industry in each country, we use the data of how the cost vary per click (CPC)
                                    in between the USA and other countries.

                                    For example, if the CPC from Colombia is 83% less than the CPC from the USA, we are
                                    assuming that the CPA from Colombia would also be 83% less than the CPA from the
                                    USA.
                                    Therefore if we know for example the cost per acquisition from Google Ads Search for
                                    E-Commerce in the USA is 45,27 USD (Data from Wordstream). We can multiply this
                                    value by (1 - 0,83), and estimate the cost per acquisition from Google Ads Search
                                    for E-Commerce in Colombia (7,70 USD). Once we know this, we can estimate how many
                                    conversions we could potentially get )For example, by investing 100 USD per month on
                                    Google Ads Search, in Colombia, we could get approximately 13 sales (100 / 7.7 =
                                    12.98).<br>This way we have a cost per acquisition for each industry (cars, customer
                                    service, B2B, dating, etc.) for web (Google Ads Search, Google Asd Display, and
                                    Facebook Ads), and for each country (98 countries in total).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</body>

</html>