<!DOCTYPE html>
<html lang="es">

<head>
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kodchasan&display=swap" rel="stylesheet">
  <link rel='stylesheet' media='all' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Cotizador marketing digital - Digital Now Argentina">
  <!-- -jQuery 3.6.0- -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous" defer></script>
  <!---Bootstrap 5.0.0--->
  <link rel="stylesheet" media='all'
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous" defer>
    </script>
  <!---Font Awesome--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!---Script Principal--->
  <script src="/javascripts/cotizador.js" defer></script>

</head>

<body>
  <div class="container-fluid">
    <div id="language-selector" class="language-selector">
      <a href="/eng"><i class="fas fa-globe-americas"></i> ENG</a>
    </div>
    <div class="row">
      <div class="col-3 col-md-2 col-lg-1">
        <a href="https://digitalnow.com.ar/">
          <img src="./images/Logo-Digital-now.png" alt="Digital Now | Agencia de Marketing Online en Argentina"
            class="digitalNowLogo">
        </a>
      </div>
      <div class="col-9 col-md-10 col-lg-11">
        <h1 class="text-center mb-4">
          <%= title %>
        </h1>
      </div>
      <h4 class="mt-4 mb-4" id="info-extra-top-message" style="font-size: 18px !important; font-weight: bold;">Completá
        los campos para estimar costos de servicios de marketing digital y resultados que podrías obtener con valores
        promedio del mercado...</h4>
      <section class="form-calculate-container animated-toggle-base" id="form-calculate-container">
        <h3 class="mt-3 mb-3">¿De qué país es el proveedor de servicios que querés contratar?</h3>
        <div class="country-supplier-container"> <select name="country-supplier" id="country-supplier"
            class="country-supplier">
            <option value="" default>-</option>
            <option value="argentina">Argentina</option>
            <option value="australia">Australia</option>
            <option value="bangladesh">Bangladesh</option>
            <option value="bolivia">Bolivia</option>
            <option value="brazil">Brasil</option>
            <option value="chile">Chile</option>
            <option value="colombia">Colombia</option>
            <option value="costarica">Costa Rica</option>
            <option value="ecuador">Ecuador</option>
            <option value="elsalvador">El salvador</option>
            <option value="spain">España</option>
            <option value="eeuu">Estados Unidos</option>
            <option value="philippines">Filipinas</option>
            <option value="guatemala">Guatemala</option>
            <option value="honduras">Honduras</option>
            <option value="india">India</option>
            <option value="england">Inglaterra</option>
            <option value="mexico">México</option>
            <option value="nicaragua">Nicaragua</option>
            <option value="panama">Panamá</option>
            <option value="paraguay">Paraguay</option>
            <option value="peru">Perú</option>
            <option value="dominicanrepublic">Republica Dominicana</option>
            <option value="southafrica">Sudafrica</option>
            <option value="ukraine">Ucrania</option>
            <option value="uruguay">Uruguay</option>
            <option value="venezuela">Venezuela</option>
          </select></div>
        <h3>Elegí los servicios requeridos:</h3>
        <div class="services-container card">
          <div> <label for="google-search-ads"> <input type="checkbox" name="google-search-ads" id="google-search-ads"
                class="services-check"> Google Ads Red de Busquedas <small>(Anuncios en búsquedas de
                Google)</small> </label></div>
          <div> <label for="google-display-ads"> <input type="checkbox" name="google-display-ads"
                id="google-display-ads" class="services-check"> Google Ads Red de Display <small>(Anuncios en
                sitios web)</small> </label></div>
          <div> <label for="facebook-ads"> <input type="checkbox" name="facebook-ads" id="facebook-ads"
                class="services-check"> Facebook Ads <small>(Anuncios en Facebook e Instagram)</small> </label>
          </div>
          <div> <label for="conversionWeb"> <input type="checkbox" name="conversionWeb" id="conversionWeb"
                class="services-check"> Optimización de tasa de conversión web </label></div>
          <div> <label for="disenoWeb"> <input type="checkbox" name="disenoWeb" id="disenoWeb" class="services-check">
              Diseño web </label></div>
          <fieldset id="disenoWebServicesContainer"
            class="disenoWebServicesContainer animated-toggle-base animated-toggle-hide" style="display: none;">
            <div class="card" style="flex-direction: column; align-items: flex-start;">
              <div> <label for="landingPage"> <input type="checkbox" name="landing-page" id="landingPage"
                    class="services-check"> Plan Básico: "Landing Page" <small>(10 horas)</small> </label>
              </div>
              <div> <label for="wordpress"> <input type="checkbox" name="wordpress" id="wordpress"
                    class="services-check"> Plan Intermedio: "Sitio web en base a plantilla prediseñada de 5
                  secciones" <small>(25 horas)</small> </label></div>
              <div> <label for="customWebsite"> <input type="checkbox" name="custom-website" id="customWebsite"
                    class="services-check"> Plan Avanzado: "Sitio web con diseño personalizado" <small>(50
                    horas)</small> </label></div>
              <div> <label for="ecommerceWeb"> <input type="checkbox" name="ecommerce-web" id="ecommerceWeb"
                    class="services-check"> Sitio web de Ecommerce en CMS como WooCommerce o Shopify
                  <small>(Carga de 50 productos)</small> </label></div>
              <div> <label for="logoMarca"> <input type="checkbox" name="logo-marca" id="logoMarca"
                    class="services-check"> Diseño de logo e identidad de marca <small>(10 horas)</small>
                </label></div>
            </div>
          </fieldset>
        </div>
        <div class="services-extra-container card animated-toggle-base animated-toggle-hide"
          id="services-extra-container">
          <div id="industry-and-country-selectors-container" class="industry-and-country-selectors-container">
            <h4 class="text-center info-extra-titles"><strong>Anuncios:</strong></h4>
            <div class="country-announce-container" id="country-announce-container">
              <h5 style="text-align: center;">¿En qué país querés que aparezcan tus anuncios?</h5>
              <div class="country-announce-selector">
                <select id="country-announce-list">
                  <option value="" default>-</option>
                  <option value="albania">Albania</option>
                  <option value="alemania">Alemania</option>
                  <option value="arabiaSaudita">Arabia Saudita</option>
                  <option value="argelia">Argelia</option>
                  <option value="argentina">Argentina</option>
                  <option value="armenia">Armenia</option>
                  <option value="australia">Australia</option>
                  <option value="austria">Austria</option>
                  <option value="bahamas">Bahamas</option>
                  <option value="bangladesh">Bangladesh</option>
                  <option value="barein">Barein</option>
                  <option value="belgica">Bélgica</option>
                  <option value="belice">Belice</option>
                  <option value="bolivia">Bolivia</option>
                  <option value="brasil">Brasil</option>
                  <option value="bulgaria">Bulgaria</option>
                  <option value="camboya">Camboya</option>
                  <option value="canada">Canadá</option>
                  <option value="chile">Chile</option>
                  <option value="colombia">Colombia</option>
                  <option value="coreaDelSur">Corea del Sur</option>
                  <option value="costaRica">Costa Rica</option>
                  <option value="croacia">Croacia</option>
                  <option value="dinamarca">Dinamarca</option>
                  <option value="ecuador">Ecuador</option>
                  <option value="egipto">Egipto</option>
                  <option value="emiratosArabes">Emiratos Arabes</option>
                  <option value="espana">España</option>
                  <option value="eslovaquia">Eslovaquia</option>
                  <option value="eslovenia">Eslovenia</option>
                  <option value="eeuu">Estados Unidos</option>
                  <option value="filipinas">Filipinas</option>
                  <option value="finlandia">Finlandia</option>
                  <option value="francia">Francia</option>
                  <option value="grecia">Grecia</option>
                  <option value="guyana">Guyana</option>
                  <option value="holanda">Holanda</option>
                  <option value="hungria">Hungría</option>
                  <option value="india">India</option>
                  <option value="indonesia">Indonesia</option>
                  <option value="inglaterra">Inglaterra</option>
                  <option value="irlanda">Irlanda</option>
                  <option value="islaMauricio">Isla Mauricio</option>
                  <option value="islandia">Islandia</option>
                  <option value="israel">Israel</option>
                  <option value="italia">Italia</option>
                  <option value="jamaica">Jamaica</option>
                  <option value="japon">Japón</option>
                  <option value="jordania">Jordania</option>
                  <option value="kenia">Kenia</option>
                  <option value="kuwait">Kuwait</option>
                  <option value="letonia">Letonia</option>
                  <option value="libano">Libano</option>
                  <option value="liberia">Liberia</option>
                  <option value="libia">Libia</option>
                  <option value="lituania">Lituania</option>
                  <option value="luxemburgo">Luxemburgo</option>
                  <option value="macedonia">Macedonia</option>
                  <option value="malasia">Malasia</option>
                  <option value="marruecos">Marruecos</option>
                  <option value="mexico">México</option>
                  <option value="moldova">Moldova</option>
                  <option value="montenegro">Montenegro</option>
                  <option value="namibia">Namibia</option>
                  <option value="nepal">Nepal</option>
                  <option value="nicaragua">Nicaragua</option>
                  <option value="noruega">Noruega</option>
                  <option value="nuevaZelanda">Nueva Zelanda</option>
                  <option value="oman">Oman</option>
                  <option value="pakistan">Pakistán</option>
                  <option value="panama">Panamá</option>
                  <option value="peru">Perú</option>
                  <option value="polonia">Polonia</option>
                  <option value="portugal">Portugal</option>
                  <option value="qatar">Qatar</option>
                  <option value="republicaCheca">República Checa</option>
                  <option value="republicaDominicana">República Dominicana</option>
                  <option value="ruanda">Ruanda</option>
                  <option value="rumania">Rumania</option>
                  <option value="rusia">Rusia</option>
                  <option value="elSalvador">Salvador</option>
                  <option value="servia">Servia</option>
                  <option value="singapur">Singapur</option>
                  <option value="somalia">Somalia</option>
                  <option value="sudafrica">Sudafrica</option>
                  <option value="suecia">Suecia</option>
                  <option value="suiza">Suiza</option>
                  <option value="sriLanka">Sri Lanka</option>
                  <option value="tailandia">Tailandia</option>
                  <option value="tanzania">Tanzania</option>
                  <option value="trinidadYTobago">Trinidad y Tobago</option>
                  <option value="tunez">Túnez</option>
                  <option value="turquia">Turquía</option>
                  <option value="ucrania">Ucrania</option>
                  <option value="uganda">Uganda</option>
                  <option value="uruguay">Uruguay</option>
                  <option value="venezuela">Venezuela</option>
                  <option value="vietnam">Vietnam</option>
                  <option value="zimbabue">Zimbabue</option>
                  </select>
              </div>
              <div class="selected-country-announce" id="selected-country-announce"></div>
              <div id="country-selection-errors">
                <p class="error-messages">Agrega uno o más países a la lista</p>
              </div>
            </div>
            <div id="industry-ads-selector-container" class="industry-ads-selector-container"> <label
                for="industry-ads-selector">Selecciona la categoría que más represente tu industria:</label>
              <select name="industry-ads-selector" id="industry-ads-selector">
                <option value="" default>-</option>
                <option value="autos">Autos</option>
                <option value="negocioANegocio">Negocio a negocio (B2B)</option>
                <option value="serviciosAlConsumidor">Servicios al consumidor</option>
                <option value="citas">Citas</option>
                <option value="eCommerce">E-Commerce</option>
                <option value="educacion">Educación</option>
                <option value="serviciosDeEmpleos">Servicios de Empleos</option>
                <option value="finanzasYSeguros">Finanzas y Seguros</option>
                <option value="salud">Salud</option>
                <option value="articulosParaElHogar">Artículos para el Hogar</option>
                <option value="serviciosIndustriales">Servicios industriales</option>
                <option value="serviciosLegales">Servicios Legales</option>
                <option value="realEstate">Real Estate</option>
                <option value="tecnologia">Tecnología</option>
                <option value="viajes">Viajes</option>
              </select>
            </div>
          </div>
          <div id="google-search-ads-extra-container" class="google-search-ads-extra-container">
            <h4 class="text-center info-extra-titles"><strong>Google Ads Red de Busquedas:</strong></h4>
            <div id="investment-google-search-ads" class="investment-google-search-ads"> <label
                for="investment-google-search-ads-value">Selecciona tus montos deseados de inversión:</label>
              <input type="number" placeholder="Ej: USD $ 100" name="investment-google-search-ads-value"
                id="investment-google-search-ads-value">
            </div>
          </div>
          <div id="google-display-ads-extra-container" class="google-display-ads-extra-container">
            <h4 class="text-center info-extra-titles"><strong>Google Ads Red de Display:</strong></h4>
            <div id="investment-google-display-ads" class="investment-google-display-ads"> <label
                for="investment-google-display-ads-value">Selecciona tus montos deseados de inversión:</label>
              <input type="number" placeholder="Ej: USD $ 100" name="investment-google-display-ads-value"
                id="investment-google-display-ads-value">
            </div>
          </div>
          <div id="facebook-ads-extra-container" class="facebook-ads-extra-container">
            <h4 class="text-center info-extra-titles"><strong>Facebook Ads:</strong></h4>
            <div id="investment-facebook-ads" class="investment-facebook-ads"> <label
                for="investment-facebook-ads-value">Selecciona tus montos deseados de inversión:</label> <input
                type="number" placeholder="Ej: USD $ 100" name="investment-facebook-ads-value"
                id="investment-facebook-ads-value"></div>
          </div>
        </div>
        <p id="error-messages" class="error-messages" style="margin-top: 15px;"></p>
        <div class="d-flex mb-2 justify-content-center">
          <button type="submit" class="calculateButton btn-secondary" id="calculateButton"
            aria-label="Calcular resultados"><i class="fas fa-calculator"></i> Calcular</button>
        </div>
      </section>

      <section class="animated-toggle-hide" id="results-container">
        <div class="d-flex mb-2 justify-content-center"> <button type="reset"
            class="calculateAgainButton btn-secondary d-none" id="calculateAgainButton"
            aria-label="Volver a calcular nuevamente"><i class="fas fa-undo-alt"></i> Volver a calcular</button>
        </div>
        <h2 class="results-first-title" style="display: none;">Resultados:</h2>
        <div class="bubble-click-results-container" id="bubble-click-results-container">
          <div class="bubble-results">
            <div class="txt">
              <p class="name">Digital Now<span> ~ Ayuda</span></p>
              <p class="message" id="bubble-results-message">¡Hacé click en los cajones para ver más detalles!</p>
              <span class="timestamp" id="bubble-results-timestamp"></span>
            </div>
            <div class="bubble-arrow"></div>
          </div>
        </div>
        <div id="result-googleads-facebookads-container" style="display: none;">
          <div id="accordionMonthlyTotals">
            <div class="card">
              <div class="card-header results-collapsible result-category-titles" id="headingMonthlyTotals"
                data-toggle="collapse" data-target="#collapseMonthlyTotals" aria-expanded="false"
                aria-controls="collapseMonthlyTotals">
                <h3 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-double-down"></i>
                  <p><u>Resultados <span id="results-conversions-selected"></span> por mes:</u> <strong
                      id="total-conversions"></strong> conversiones totales</p>
                  <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para ver más...</p>
                </h3>
              </div>
              <div id="collapseMonthlyTotals" class="collapse" aria-labelledby="headingMonthlyTotals"
                data-parent="#accordionMonthlyTotals">
                <div class="card-body">
                  <div id="result-google-search-ads-container" style="display: none">
                    <div id="accordionGSAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles" id="headingGSAds"
                          data-toggle="collapse" data-target="#collapseGSAds" aria-expanded="false"
                          aria-controls="collapseGSAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p><u><strong>Google Ads Red de Busquedas:</strong></u>
                              <nobr> <span id="google-search-ads-conversions"></span> </nobr>
                            </p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapseGSAds" class="collapse" aria-labelledby="headingGSAds"
                          data-parent="#accordionGSAds">
                          <div class="card-body">
                            <div id="result-google-search" style="margin: 10px"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-google-display-ads-container" style="display: none">
                    <div id="accordionGDAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles" id="headingGDAds"
                          data-toggle="collapse" data-target="#collapseGDAds" aria-expanded="false"
                          aria-controls="collapseGDAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p><u><strong>Google Ads Red de Display:</strong></u>
                              <nobr> <span id="google-display-ads-conversions"></span> </nobr>
                            </p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapseGDAds" class="collapse" aria-labelledby="headingGDAds"
                          data-parent="#accordionGDAds">
                          <div class="card-body">
                            <div id="result-google-display" style="margin: 10px"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-facebook-ads-container" style="display: none">
                    <div id="accordionFbAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles" id="headingFbAds"
                          data-toggle="collapse" data-target="#collapseFbAds" aria-expanded="false"
                          aria-controls="collapseFbAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p><u><strong>Facebook Ads:</strong></u>
                              <nobr> <span id="facebook-ads-conversions"></span> </nobr>
                            </p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapseFbAds" class="collapse" aria-labelledby="headingFbAds"
                          data-parent="#accordionFbAds">
                          <div class="card-body">
                            <div id="result-facebook-ads" style="margin: 10px"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="results-second-title">Costos:</h2>
        <div id="result-implementation-container">
          <div id="accordionOne">
            <div class="card">
              <div class="card-header results-collapsible result-category-titles" id="headingOne" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h3 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-double-down"></i>
                  <p><u>Costo de servicios de implementación (1 vez):</u>
                    <nobr> <span id="result-implementation-fee"></span> </nobr>
                  </p>
                  <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para ver más...</p>
                </h3>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOne">
                <div class="card-body">
                  <div id="result-implementation-conversionWeb-container" style="display: none">
                    <div id="accordion-implementation-conversionWeb">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-conversionWeb" data-toggle="collapse"
                          data-target="#collapse-implementation-conversionWeb" aria-expanded="false"
                          aria-controls="collapse-implementation-conversionWeb">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-conversionWeb"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-conversionWeb" class="collapse"
                          aria-labelledby="heading-implementation-conversionWeb"
                          data-parent="#accordion-implementation-conversionWeb">
                          <div class="card-body">
                            <div id="result-implementation-conversionWeb"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-implementation-googleSearchAds-container" style="display: none">
                    <div id="accordion-implementation-googleSearchAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-googleSearchAds" data-toggle="collapse"
                          data-target="#collapse-implementation-googleSearchAds" aria-expanded="false"
                          aria-controls="collapse-implementation-googleSearchAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-googleSearchAds"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-googleSearchAds" class="collapse"
                          aria-labelledby="heading-implementation-googleSearchAds"
                          data-parent="#accordion-implementation-googleSearchAds">
                          <div class="card-body">
                            <div id="result-implementation-googleSearchAds"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-implementation-googleDisplayAds-container" style="display: none">
                    <div id="accordion-implementation-googleDisplayAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-googleDisplayAds" data-toggle="collapse"
                          data-target="#collapse-implementation-googleDisplayAds" aria-expanded="false"
                          aria-controls="collapse-implementation-googleDisplayAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-googleDisplayAds"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-googleDisplayAds" class="collapse"
                          aria-labelledby="heading-implementation-googleDisplayAds"
                          data-parent="#accordion-implementation-googleDisplayAds">
                          <div class="card-body">
                            <div id="result-implementation-googleDisplayAds"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-implementation-facebookAds-container" style="display: none">
                    <div id="accordion-implementation-facebookAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-facebookAds" data-toggle="collapse"
                          data-target="#collapse-implementation-facebookAds" aria-expanded="false"
                          aria-controls="collapse-implementation-facebookAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-facebookAds"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-facebookAds" class="collapse"
                          aria-labelledby="heading-implementation-facebookAds"
                          data-parent="#accordion-implementation-facebookAds">
                          <div class="card-body">
                            <div id="result-implementation-facebookAds"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-implementation-landingPage-container" style="display: none">
                    <div id="accordion-implementation-landingPage">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-landingPage" data-toggle="collapse"
                          data-target="#collapse-implementation-landingPage" aria-expanded="false"
                          aria-controls="collapse-implementation-landingPage">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-landingPage"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-landingPage" class="collapse"
                          aria-labelledby="heading-implementation-landingPage"
                          data-parent="#accordion-implementation-landingPage">
                          <div class="card-body">
                            <div id="result-implementation-landingPage"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-implementation-wordpress-container" style="display: none">
                    <div id="accordion-implementation-wordpress">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-wordpress" data-toggle="collapse"
                          data-target="#collapse-implementation-wordpress" aria-expanded="false"
                          aria-controls="collapse-implementation-wordpress">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-wordpress"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-wordpress" class="collapse"
                          aria-labelledby="heading-implementation-wordpress"
                          data-parent="#accordion-implementation-wordpress">
                          <div class="card-body">
                            <div id="result-implementation-wordpress"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-implementation-customWebsite-container" style="display: none">
                    <div id="accordion-implementation-customWebsite">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-customWebsite" data-toggle="collapse"
                          data-target="#collapse-implementation-customWebsite" aria-expanded="false"
                          aria-controls="collapse-implementation-customWebsite">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-customWebsite"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-customWebsite" class="collapse"
                          aria-labelledby="heading-implementation-customWebsite"
                          data-parent="#accordion-implementation-customWebsite">
                          <div class="card-body">
                            <div id="result-implementation-customWebsite"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-implementation-ecommerceWeb-container" style="display: none">
                    <div id="accordion-implementation-ecommerceWeb">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-ecommerceWeb" data-toggle="collapse"
                          data-target="#collapse-implementation-ecommerceWeb" aria-expanded="false"
                          aria-controls="collapse-implementation-ecommerceWeb">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-ecommerceWeb"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-ecommerceWeb" class="collapse"
                          aria-labelledby="heading-implementation-ecommerceWeb"
                          data-parent="#accordion-implementation-ecommerceWeb">
                          <div class="card-body">
                            <div id="result-implementation-ecommerceWeb"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-implementation-logoYMarca-container" style="display: none">
                    <div id="accordion-implementation-logoYMarca">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-implementation-logoYMarca" data-toggle="collapse"
                          data-target="#collapse-implementation-logoYmarca" aria-expanded="false"
                          aria-controls="collapse-implementation-logoYmarca">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-implementation-logoYMarca"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-implementation-logoYmarca" class="collapse"
                          aria-labelledby="heading-implementation-logoYMarca"
                          data-parent="#accordion-implementation-logoYMarca">
                          <div class="card-body">
                            <div id="result-implementation-logoYMarca"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="result-maintenance-container">
          <div id="accordionTwo">
            <div class="card">
              <div class="card-header results-collapsible result-category-titles" id="headingTwo" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h3 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-double-down"></i>
                  <p><u>Costo mensual de servicios de mantenimiento:</u>
                    <nobr> <span id="result-maintenance-fee"></span> </nobr>
                  </p>
                  <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para ver más...</p>
                </h3>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTwo">
                <div class="card-body">
                  <div id="result-maintenance-conversionWeb-container" style="display: none">
                    <div id="accordion-maintenance-conversionWeb">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-conversionWeb" data-toggle="collapse"
                          data-target="#collapse-maintenance-conversionWeb" aria-expanded="false"
                          aria-controls="collapse-maintenance-conversionWeb">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-conversionWeb"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-conversionWeb" class="collapse"
                          aria-labelledby="heading-maintenance-conversionWeb"
                          data-parent="#accordion-maintenance-conversionWeb">
                          <div class="card-body">
                            <div id="result-maintenance-conversionWeb"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-maintenance-googleSearchAds-container" style="display: none">
                    <div id="accordion-maintenance-googleSearchAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-googleSearchAds" data-toggle="collapse"
                          data-target="#collapse-maintenance-googleSearchAds" aria-expanded="false"
                          aria-controls="collapse-maintenance-googleSearchAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-googleSearchAds"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-googleSearchAds" class="collapse"
                          aria-labelledby="heading-maintenance-googleSearchAds"
                          data-parent="#accordion-maintenance-googleSearchAds">
                          <div class="card-body">
                            <div id="result-maintenance-googleSearchAds"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-maintenance-googleDisplayAds-container" style="display: none">
                    <div id="accordion-maintenance-googleDisplayAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-googleDisplayAds" data-toggle="collapse"
                          data-target="#collapse-maintenance-googleDisplayAds" aria-expanded="false"
                          aria-controls="collapse-maintenance-googleDisplayAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-googleDisplayAds"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-googleDisplayAds" class="collapse"
                          aria-labelledby="heading-maintenance-googleDisplayAds"
                          data-parent="#accordion-maintenance-googleDisplayAds">
                          <div class="card-body">
                            <div id="result-maintenance-googleDisplayAds"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-maintenance-facebookAds-container" style="display: none">
                    <div id="accordion-maintenance-facebookAds">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-facebookAds" data-toggle="collapse"
                          data-target="#collapse-maintenance-facebookAds" aria-expanded="false"
                          aria-controls="collapse-maintenance-facebookAds">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-facebookAds"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-facebookAds" class="collapse"
                          aria-labelledby="heading-maintenance-facebookAds"
                          data-parent="#accordion-maintenance-facebookAds">
                          <div class="card-body">
                            <div id="result-maintenance-facebookAds"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-maintenance-landingPage-container" style="display: none">
                    <div id="accordion-maintenance-landingPage">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-landingPage" data-toggle="collapse"
                          data-target="#collapse-maintenance-landingPage" aria-expanded="false"
                          aria-controls="collapse-maintenance-landingPage">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-landingPage"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-landingPage" class="collapse"
                          aria-labelledby="heading-maintenance-landingPage"
                          data-parent="#accordion-maintenance-landingPage">
                          <div class="card-body">
                            <div id="result-maintenance-landingPage"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-maintenance-wordpress-container" style="display: none">
                    <div id="accordion-maintenance-wordpress">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-wordpress" data-toggle="collapse"
                          data-target="#collapse-maintenance-wordpress" aria-expanded="false"
                          aria-controls="collapse-maintenance-wordpress">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-wordpress"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-wordpress" class="collapse"
                          aria-labelledby="heading-maintenance-wordpress"
                          data-parent="#accordion-maintenance-wordpress">
                          <div class="card-body">
                            <div id="result-maintenance-wordpress"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-maintenance-customWebsite-container" style="display: none">
                    <div id="accordion-maintenance-customWebsite">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-customWebsite" data-toggle="collapse"
                          data-target="#collapse-maintenance-customWebsite" aria-expanded="false"
                          aria-controls="collapse-maintenance-customWebsite">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-customWebsite"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-customWebsite" class="collapse"
                          aria-labelledby="heading-maintenance-customWebsite"
                          data-parent="#accordion-maintenance-customWebsite">
                          <div class="card-body">
                            <div id="result-maintenance-customWebsite"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-maintenance-ecommerceWeb-container" style="display: none">
                    <div id="accordion-maintenance-ecommerceWeb">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-ecommerceWeb" data-toggle="collapse"
                          data-target="#collapse-maintenance-ecommerceWeb" aria-expanded="false"
                          aria-controls="collapse-maintenance-ecommerceWeb">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-ecommerceWeb"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-ecommerceWeb" class="collapse"
                          aria-labelledby="heading-maintenance-ecommerceWeb"
                          data-parent="#accordion-maintenance-ecommerceWeb">
                          <div class="card-body">
                            <div id="result-maintenance-ecommerceWeb"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="result-maintenance-logoYMarca-container" style="display: none">
                    <div id="accordion-maintenance-logoYMarca">
                      <div class="card">
                        <div class="card-header results-collapsible result-service-titles"
                          id="heading-maintenance-logoYMarca" data-toggle="collapse"
                          data-target="#collapse-maintenance-logoYmarca" aria-expanded="false"
                          aria-controls="collapse-maintenance-logoYmarca">
                          <h4 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-down"></i>
                            <p id="title-maintenance-logoYMarca"></p>
                            <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para
                              ver más...</p>
                          </h4>
                        </div>
                        <div id="collapse-maintenance-logoYmarca" class="collapse"
                          aria-labelledby="heading-maintenance-logoYMarca"
                          data-parent="#accordion-maintenance-logoYMarca">
                          <div class="card-body">
                            <div id="result-maintenance-logoYMarca"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="result-investments-monthly-container">
          <div id="accordionThree">
            <div class="card">
              <div class="card-header results-collapsible result-category-titles" id="headingThree"
                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h3 class="titlesCollapse"> <i class="iconsToRotate fas fa-angle-double-down"></i>
                  <p><u>Costo mensual de inversión<span id="results-investments-selected"></span>:</u>
                    <nobr> <span id="result-investments-monthly"></span> </nobr>
                  </p>
                  <p class="seeDetailsMsg"><i class="far fa-hand-pointer"></i> Click para ver más...</p>
                </h3>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionThree">
                <div class="card-body">
                  <ul id="result-investments-monthly-details" style="list-style-type: none !important"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="result-monthly-total-container" class="result-monthly-total-container">
          <div class="checkContainer" id="headingFour">
            <h2 class="titlesCollapse"><i class="iconCheck fas fa-check"></i><span id="implementation-cost-message"
                style="display: none;"><u>Costo total de servicios de implementación (1 vez):</u><strong>
                  <nobr><span id="implementation-cost-total" style="display: none;"></span></nobr>
                </strong></span> <span id="monthly-total-cost-message"><u>Costo total mensual <span
                    id="results-monthly-total-selected" style="padding: 0px;"></span>:</u> <strong>
                  <nobr> <span id="result-monthly-total"></span></nobr>
                </strong></span></h2>
          </div>
        </div>
        <h2 class="results-third-title">¿Cómo obtuvimos estos datos?</h2>
        <div class="card text-center info-extra-bottom" id="info-extra-bottom">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item info-extra-tab"> <a class="nav-link" id="what-does-tab" data-toggle="tab" href=""
                  data-target="#what-does" role="tab" aria-controls="what-does" aria-selected="false"><i
                    class="fas fa-info-circle"></i> ¿Qué hace?</a></li>
              <li class="nav-item info-extra-tab"> <a class="nav-link" id="info-tab" data-toggle="tab" href=""
                  data-target="#info" role="tab" aria-controls="info" aria-selected="false"><i
                    class="fas fa-search-dollar"></i> Precios de servicios <span class="short-title-mobile">de
                    Marketing Digital</span></a></li>
              <li class="nav-item info-extra-tab"> <a class="nav-link" id="statistics-tab" data-toggle="tab" href=""
                  data-target="#statistics" role="tab" aria-controls="statistics" aria-selected="false"><i
                    class="fas fa-chart-line"></i> <span class="short-title-mobile">Precio de</span> Google <span
                    class="short-title-mobile">Ads
                  </span>y Facebook Ads</a></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="what-does" role="tabpanel" aria-labelledby="what-does-tab">
                <h2 class="what-does-extra-bottom-card-titles">¿Qué hace?</h2>
                <p class="card-text" style="text-align: start;">Usando este cotizador online vas a poder estimar
                  lo siguiente:</p>
                <ul style="list-style-type: circle !important; text-align: start;">
                  <li>Precio de tus proveedores de servicios de marketing digital según el país, según el tipo de
                    servicio (Gestión de campañas de Google Ads y Facebook Ads, optimización de la tasa de conversión y
                    diseño web).</li>
                  <li>Precio de Google Ads y Facebook Ads: Cuánto cuesta y qué resultados podés obtener en
                    términos de ventas, consultas, u alguna otra acción en tu web (Conversiones).</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                <h2 class="info-extra-bottom-card-titles">Precios de servicios de Marketing Digital:</h2>
                <p class="card-text" style="text-align: start;">El cotizador hace un llamado a la API de la plataforma
                  <a href="https://www.freelancer.com/" target="_blank" rel="noreferrer noopener">freelancer.com</a> y
                  usa el precio por hora promedio de 100 freelancers (O todos los que haya si no llegan
                  a 100) disponibles en la plataforma freelancer.com para cada país (27 países) para los siguientes
                  skills (Filtros de la plataforma):
                </p>
                <ul style="text-align: start; list-style-type: circle !important;">
                  <li>Analista de Marketing Digital</li>
                  <li>Diseñador Web UX / UI</li>
                  <li>Diseñador Gráfico</li>
                </ul>
                <p class="card-text" style="text-align: start;">Teniendo en cuenta estos precios por hora, el cotizador
                  calcula el precio de tu plan, teniendo en cuenta cuántas horas hacen falta de cada skill para ejecutar
                  el plan. La cantidad de horas de cada skill es lo que consideramos en Digital Now que hace
                  falta.<br><br>Por ejemplo, para el mantenimiento de un plan de gestión de Facebook Ads consideramos
                  que hacen faltan las siguientes horas de los siguientes skills:<br>
                <ul>
                  <li style="list-style-type: none;">- 4 horas de Analista de Marketing Digital a 16.73 USD la hora</li>
                  <li style="list-style-type: none;">- 2 horas de Diseñador Gráfico a 19.90 USD la hora</li>
                  <li style="list-style-type: none;">Costo mensual de servicios de mantenimiento = 4 * 16.73 + 2 * 19.90
                    = US $ 107</li>
                </ul>
                </p>
              </div>
              <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
                <h2 class="info-extra-bottom-card-titles">Precio de Google Ads y Facebook Ads:</h2>
                <p class="card-text" style="text-align: start;">Usamos datos de <a href="https://www.wordstream.com"
                    target="_blank" rel="noreferrer noopener">Wordstream</a>, para tener costos por conversión por
                  industria
                  (Autos, Servicio al consumidor, B2B, Citas, etc.), por red (Google Ads Search, Google Ads
                  Display y Facebook Ads), y por país, para 98 países.<br>Primero es importante entender qué
                  son las conversiones.<br>Una conversión es una acción valiosa para el usuario en tu sitio
                  web (Ventas o consultas, en general). Por lo tanto, el costo por conversión para diferentes
                  industrias, es el costo por venta o el costo por consulta para diferentes
                  industrias.<br>Para calcular estos precios y resultados estimados, el cotizador tiene en
                  cuenta los siguientes datos de <a href="https://www.wordstream.com" target="_blank"
                    rel="noreferrer noopener">Wordstream</a>:</p>
                <ul style="text-align: start; list-style-type: circle !important;">
                  <li style="margin-bottom: 0.8rem;"> <a
                      href="https://www.wordstream.com/blog/ws/2015/07/06/average-cost-per-click" target="_blank"
                      rel="noreferrer noopener">Costo por clic por País:</a> De ésta
                    publicación usamos cuánto es el costo por clic para cada país, comparado con el de
                    Estados Unidos. Por ejemplo, el costo por clic de Colombia, es un 83% menor al de
                    Estados Unidos.</li>
                  <li style="margin-bottom: 0.8rem;"> <a
                      href="https://www.wordstream.com/blog/ws/2016/02/29/google-adwords-industry-benchmarks"
                      target="_blank" rel="noreferrer noopener">Benchmarks de Google Ads por industria en
                      EEUU:</a> De ésta publicación usamos el CPA (Costo por conversión) de Google Ads en
                    EEUU para diferentes industrias.</li>
                  <li style="margin-bottom: 0.8rem;"> <a
                      href="https://www.wordstream.com/blog/ws/2017/02/28/facebook-advertising-benchmarks"
                      target="_blank" rel="noreferrer noopener">Benchmarks de Facebook Ads por industria
                      en EEUU:</a> De ésta publicación usamos el CPA (Costo por conversión) de Facebook
                    Ads en EEUU para diferentes industrias.</li>
                </ul>
                <p class="card-text" style="text-align: start;">Lo que hacemos para calcular el costo de
                  conversión por industria para cada país, es usar los datos de cómo varían los costos por
                  clic entre EEUU y otros países. Por ejemplo, si el costo por clic de Colombia es un 83%
                  menor al de Estados Unidos, estamos asumiendo que el costo por conversión de Colombia
                  también va a ser un 83% menor al de Estados Unidos. Entonces, si sabemos por ejemplo que el
                  costo de conversión de Google Ads Red de Búsqueda para E-Commerce en Estados Unidos es de US
                  $ 45,27 (Data de Wordstream), podemos multiplicar este valor por (1 - 0,83), y estimar el
                  costo por conversión de E-Commerce para Colombia (US $ 7.70). Una vez que sabemos esto,
                  podemos estimar qué cantidad de conversiones podríamos obtener (Por ejemplo, invirtiendo US
                  $ 100 por mes en Google Ads Red de Búsqueda, en Colombia, podríamos obtener aproximadamente
                  13 ventas (100 / 7.7=12.98).<br>De esta forma, tenemos costos por conversión por industria
                  (Autos, Servicio al consumidor, B2B, Citas, etc.), por red (Google Ads Search, Google Ads
                  Display y Facebook Ads), y por país, para 98 países.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</body>

</html>